[2018-11-05 20:12] raja-ashok opened #7356 "Jekyll site created using bundle showing post inside gem package"
Created a new site using bundle as per [doc](https://jekyllrb.com/tutorials/using-jekyll-with-bundler/), then added jekyll-paginated as dependency in [gemfile](https://jekyllrb.com/docs/pagination/). Finally the site is showing some of the post present inside `vendor/bundle/ruby/2.3.0/gems/jekyll-paginate-1.1.0/spec/source/_posts/`. More over `--skip-bundle` option is not available in `jekyll new`

[2018-11-05 20:36] DirtyF commented on #7356
1. gem update --system; gem install jekyll should help you upgrade to latest jekyll on your system
2. You can exclude files from build with the [exclude configuration option ](https://jekyllrb.com/docs/configuration/options/#global-configuration)

/cc @mkasberg if we need to complete this tuturial on bundler

[2018-11-05 20:56] DirtyF commented on #7274
Could you install the latest upgrade of the command line tools? You still have a compilation problem (`ERROR: Failed to build gem native extension.`)

[2018-11-06 05:40] agordeev commented on #7274
They are up to date :-/

[2018-11-06 05:42] raja-ashok commented on #7356
I am new to `ruby`. I Installed `jekyll` from `apt` package using `sudo apt install jekyll`. Is this not the right way of installing `jekyll` ?

[2018-11-06 10:12] DirtyF commented on #7356
See our docs: https://jekyllrb.com/docs/installation/ubuntu/

[2018-11-07 13:06] pravan opened #7358 "Add documentation for custom tag blocks"
## Motivation
I was trying to create a Jekyll plugin which adds a custom tag block to the template engine and I couldn't find the documentation for adding a custom tag block. I found some help in the [Liquid Template Engine's Wiki](https://github.com/Shopify/liquid/wiki/Liquid-for-Programmers#create-your-own-tag-blocks). I thought it would be helpful for any new developer if the Jekyll documentati

[2018-11-07 14:36] NHagar commented on #7346
Having a similar issue with `bundle install`:

[code]

Running on macOS Mojave, ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18], Bundler version 1.16.2, gem -v 2.7.7

[2018-11-07 15:12] ashmaroli commented on #7346
@NHagar You may want to refer: https://github.com/jekyll/jekyll/issues/7274 and https://github.com/jekyll/jekyll/issues/7318

[2018-11-07 16:17] DirtyF commented on #7346
@wangkun19930608 did you run  `gem install commonmarker --source
'https://rubygems.org/'`?

[2018-11-07 22:40] #7358 closed

[2018-11-08 00:15] mkasberg commented on #7356
@DirtyF Thanks for mentioning me, I think `exclude: ["vendor/bundler"]` is the correct solution and I'll work on a PR in the next few days to update the tutorial with that info.

@raja-ashok The reference DirtyF mentioned from the docs is the best way to install and is "officially" supported by the Jekyll team. That way, you'll always be able to update to the most recent version with the latest ch

[2018-11-08 03:03] mkasberg commented on #7356
After spending a little bit of time with this, I believe the tutorial is probably OK as-is (no PR necessary). The [default configuration](https://jekyllrb.com/docs/configuration/default/) sets `exclude` to a setting that includes `vendor/bundle`, and I've verified that this default is still in effect when completing the tutorial.

To reproduce the error raja-ashok describes, I had to add a custom

[2018-11-08 07:19] raja-ashok commented on #7356
Yes. Latest `jekyll 3.8.5` excludes `vendor/bundle` by default. It was not excluded in my older version `3.0.1`.

[2018-11-08 09:09] DirtyF commented on #7356
@mkasberg Thanks for looking into this. We could encourage Linux users to compare the default version installed by their package manager with the current version. `3.0.1` was released three years ago, and our online documentation is updated for the latest stable version. To install a corresponding version of the docs, you have to [install `jekyll-docs`](https://github.com/jekyll/jekyll-docs#instal

[2018-11-08 09:09] #7356 closed

[2018-11-08 14:01] Vict0rSch opened #7362 "Update Wiki showcase link"
## Motivation

The showcase link (https://talk.jekyllrb.com/t/jekyll-theme-showcase-share-your-jekyll-themes/1382) is outdated (in https://github.com/jekyll/jekyll/wiki/Themes)

## Suggestion

Update it to https://jekyllrb.com/showcase/

[2018-11-08 14:24] DirtyF commented on #7362
http://talk.jekyllrb.com/t/jekyll-theme-showcase-share-your-jekyll-themes/1382/16 isn't outdated, it's the community showcase, users can show their work. Jekyll showcase is a curated selection of ours.

[2018-11-08 21:12] mrcoles opened #7363 "Website is out of date from the repo: has bug in tutorial code"
## Motivation

The step-by-step tutorial on the website does not reflect some of the code in the github repo.

## Suggestion

Update the jekyll docs https://jekyllrb.com/docs/step-by-step/09-collections/ to have the latest code.

The step-by-step [09-collections markdown file](https://github.com/jekyll/jekyll/blame/master/docs/_docs/step-by-step/09-collections.md#L236) does not match what is curre

[2018-11-08 23:02] DirtyF commented on #7363
@mrcoles I do not see any problem.

https://jekyllrb.com/docs/step-by-step/09-collections/#link-to-authors-page has the `first` filter …if you scroll horizontally.

Site is automatically built from the repo.

[2018-11-09 06:45] DirtyF commented on #7362
@Vict0rSch We should be the ones to b sorry. We have a certificate issue at the moment, so https isn't properly working on the forum. I added a link to Jekyll's showcase on the Wiki Page. Thanks for your input.

[2018-11-09 11:02] daviddarnes commented on #7344
Any more progress on this topic? Clearly not a huge demand, but certainly had potential

[2018-11-09 12:29] DirtyF commented on #7344
No, Jekyll core team is very limited at the moment. Any help is warmly welcome if someone is interested in contributing.

[2018-11-09 12:33] datadeveb opened #7364 "Jekyll LiveReload not working"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | win10 |
| `jekyll`         | Latest 3.8.5  |
| `github-pages`   | Latest     |

---

## Expected Behaviour
It needs to be updated at the time I saved my files.

## Current Behavior
...
LiveReload address: http://127.0.0.1:35729
  JekyllAdmin mode: production
    Server address: http://127.0.

[2018-11-09 12:52] ashmaroli commented on #7364
@datadeveb Have you tried without the `jekyll-admin` plugin..?

[2018-11-09 13:04] DirtyF commented on #7364
@datadeveb not helping, but FYI workin' fine on your website on macOS with a basic `Gemfile`, even with `jekyll-admin`.

[2018-11-09 13:07] datadeveb commented on #7364
I tried. Not work.

Note: Is there a problem with the security program?

[2018-11-09 13:34] DirtyF commented on #7364
Most probably, a config problem, not a Jekyll bug.
Please move this discussion to http://talk.jekyllrb.com to engage with the community.

[2018-11-09 13:34] #7364 closed

[2018-11-09 13:49] ashmaroli commented on #7364
@datadeveb I had issues **regenerating your site** with `jekyll-admin` on Windows 7.. Though `--livereload` works fine at my end **without `jekyll-admin`**..

[2018-11-09 13:56] datadeveb commented on #7364
I tried... Nothing...
I opened topic: http://talk.jekyllrb.com/t/jekyll-livereload-not-working-on-windows-10/2336

[2018-11-09 15:05] Vict0rSch commented on #7362
Indeed, I can reach it over http but not https

[2018-11-09 19:21] mrcoles commented on #7363
Hrm, I’m seeing it there now too. I remember checking and doing a full scroll to the right, but maybe I somehow compared it to the other section when I did… lol, well, I’m closing this. Cheers 😄

[2018-11-09 19:21] #7363 closed

[2018-11-09 20:00] jekyllbot opened #7366 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll. There have been 394 commits since the last release, v3.8.5.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2018-11-09 21:17] #7366 closed

[2018-11-10 15:11] #7106 closed

[2018-11-11 20:10] svnpenn2 opened #7369 "Document page.dir and page.name"
Perhaps I am overlooking it - but I searched here:

http://jekyllrb.com/docs/variables

and saw no mention of `page.dir` - same for `page.name`

[2018-11-12 01:22] ghost opened #7370 "show_dir_listing ignored by GitHub Pages"
I see this:

[code]

http://jekyllrb.com/docs/configuration/default

However even when setting `show_dir_listing: true` in `_config.yml`, it does
nothing. Trying to access any of these:

- http://user.github.io/repo/folder
- http://user.github.io/repo/folder/
- http://user.github.io/repo/folder/index
- http://user.github.io/repo/folder/index.html

just returns a 404.

[2018-11-12 04:09] cup opened #7371 "error with inline octicons"
If you use this Markdown:

[code]

you get this:

[code]

notice that the icon is no longer inline - its on a line before the text -
workaround is to use HTML:

[code]

these produce inline as expected:

[code]

also note that normal image markdown produces inline as well:

[code]

[2018-11-12 07:32] oe commented on #7369
/cc @jekyll/documentation

[2018-11-12 15:26] #7370 closed, assigned to nobody

[2018-11-12 16:10] agordeev commented on #7274
The problem was Homebrew didn't set a correct path for the newly installed version of Ruby, so `ruby -v` returned the old version (`ruby 2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]`).

Interesting that `brew link --overwrite ruby` didn't work as well. I had to install `rbenv` and manually add `/usr/local/bin/rbenv` as a `$PATH` to my bash profile. That did the trick

[2018-11-12 18:07] ashmaroli commented on #7371
@cup This tag is not a Jekyll built-in.
Please ask for support at the following repository:
https://github.com/primer/octicons/tree/master/lib/octicons_jekyll

[2018-11-12 18:07] #7371 closed

[2018-11-12 19:30] cup commented on #7371
https://github.com/primer/octicons/issues/259

[2018-11-12 21:01] jekyllbot opened #7374 "Update dependency constraint to allow for liquid-c v4.0.0"
Hey there! :wave:

I noticed that the constraint you have for liquid-c doesn't allow for the latest version to be used.

The constraint I found was `~> 3.0`, and the latest version available is `4.0.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2018-11-13 01:34] yundd opened #7376 "spider"
yundd

[2018-11-13 05:38] #7376 closed

[2018-11-13 07:36] #7369 closed

[2018-11-13 15:04] #7374 closed

[2018-11-13 20:46] trigger-death opened #7379 "URLs are case insensitive on Windows"
Confirming things work correctly before pushing to GitHub pages is important. Making sure all URLs are the correct casing is critical, but it seems my build on Windows 10 has case-insensitive URLs which makes it impossible to notice any incorrect URLs.

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | Windows 10 |
| `jekyll`         | 3.7.

[2018-11-13 23:40] cup commented on #7371
@ashmaroli can you make another suggestions - primer issue was closed

[2018-11-13 23:44] cup commented on #7371
https://github.com/gettalong/kramdown/issues/553
https://github.com/jekyll/jekyll/issues/7371
https://github.com/primer/octicons/issues/259

[2018-11-14 00:46] kylebarbour opened #7380 "Excerpt handling in 3.8.5 generates Liquid errors despite valid Liquid syntax"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | Ubuntu 18.04.1 LTS |
| `jekyll`         | 3.8.5     |
| `github-pages`   | no     |

---

## Expected Behaviour

Valid Liquid syntax should not throw errors when excerpted; excerpts should gracefully handle Liquid syntax that is correct in the full page (or at least explain what the issue is

[2018-11-14 01:14] kylebarbour commented on #7380
The offending line seems to be [line 172 of `lib/jekyll/excerpt.rb`](https://github.com/jekyll/jekyll/blob/7c1f065a41d273f69bb7e4d4fd721aa2d1175f1b/lib/jekyll/excerpt.rb#L172):

    Liquid::Template.tags[tag_name].ancestors.include?(Liquid::Block)

Deleting that solves the problem but it's probably doing something important and I don't really understand it yet; going to dig into it more (but if yo

[2018-11-14 01:42] kylebarbour commented on #7380
I think what's happening is that for a reason I don't understand jekyll can't handle the Liquid code and generates an empty excerpt, which is then passed to `ancestors.include?` which appropriately complains that an empty string is `nil`. I apologize, after looking at it for a while I'm not sure exactly why that happens, but I hope that's helpful :)

[2018-11-14 06:13] nicharesuk commented on #7274
@henriquefer
Did you ever get this to work? If so what were your steps? I have the exact same issues as you no matter which solution I try. I just want to be able to try out Jekyll haha.

[2018-11-14 08:46] kylebarbour commented on #7380
You're too hard on yourself, I love the software you've helped write and this is a minor problem :)

If you understand where the problem is and can easily fix it, amazing! If not I'll have some time to look at it in a few days and I'll take a stab but I might not get there.

[2018-11-14 10:12] ashmaroli commented on #7380
@kylebarbour you're on the right track. But we may also need to consider use of similar tags: `{% break %}` and `{% continue %}`

**But purely from an OOP point-of-view, `Jekyll::Excerpt` shouldn't have to care about any of the Liquid Tags actually.  If a user were to define a new Liquid block-tag with an intermediate branching tag, then its going to fail the in the above logic..** :frowning_face:

[2018-11-14 10:21] Hordon13 commented on #7274
Still unable to install Jekyll on macOS Mojave. I have the Xcode installed. I have Command Line Tools installed. I have the latest Homebrew installed. I have the latest Ruby (2.5.3p105) installed. Still `gem install bundler jekyll` results in an error (ERROR: Failed to build gem native extension.).

**Full log:**

[2018-11-15 02:49] nicharesuk commented on #7274
@Hordon13

Here's what I did to get things working, this is not a great solution IMO, but it finally worked for me:

`LDFLAGS="-L/usr/local/opt/libffi/lib" PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig" bundle install`

If you need to update you can also use "bundle update" at the end instead of bundle install, basically you just need those variables to be set when you run the command you w

[2018-11-15 07:12] Hordon13 commented on #7274
@nicharesuk Thank you for the suggestion, but it's ended up in the same

[2018-11-15 15:18] weilinzung commented on #7380
Adding `excerpt: none` works for me, but I think the default should be without it.

[2018-11-15 20:00] nicharesuk commented on #7274
@Hordon13

Hmmm, bummer, did you try downloading the package headers as described above? That would be the only other thing I think I did.

[2018-11-15 21:15] Hordon13 commented on #7274
@nicharesuk This file does not exist :/ I don't even have the CommandLineTools folder (but Terminal says CLT is installed). The above-mentioned solution doesn't work for me since I have the latest Ruby already and ruby -v give me the correct version number.

[2018-11-15 23:18] svnpenn2 commented on #7185
https://github.com/jekyll/jekyll/pull/7281

[2018-11-16 03:42] kylebarbour commented on #7380
What about doing it this way?

    def liquid_block?(tag_name)
      return false unless tag_name.is_a?(String)
      return false unless Liquid::Template.tags[tag_name]

      Liquid::Template.tags[tag_name].ancestors.include?(Liquid::Block)

Then `excerpt.rb` doesn't have to know anything about blocks or Liquid. We can just ignore everything that isn't in `Liquid::Block`. That covers user-create

[2018-11-17 22:45] cup opened #7384 "Basename filter"
I am interested in generating index pages for the different folders in my Jekyll
site. I started with this code:

[code]

which returns something like this:

[code]

I would like to return basename for each, similar to the basename property found
under site.static_files. However in this case basename would need to be a filter
rather than property, else for folders it would just return "index". The

[2018-11-18 15:56] DirtyF commented on #7384
There are multiple variables available for pages: https://jekyllrb.com/docs/variables/#page-variables

[2018-11-18 16:19] cup commented on #7384
@DirtyF i dont think any of those solve this problem - could you perhaps elaborate

[2018-11-18 16:39] pathawks commented on #7384
Can you elaborate a bit on the motivation for this?
What are you ultimately doing with the basename?

[2018-11-18 16:54] cup commented on #7384
@pathawks I would like to use it for navigation with my Jekyll site.

My site has multiple files in multiple folders - so each folder i would put an
index file to help navigate to subfolders or files. essentially it would emulate
what you get on a "tree" page on http://github.com, except it would be on
http://github.io

i have a work in progress here [1] with result here [2], but i need to adjust

[2018-11-18 21:57] cup opened #7386 "Dirname filter"
I am interested in generating index pages for the different folders in my Jekyll
site. I started with this code:

[code]

which returns something like this:

[code]

I would like to return dirname for each, similar to page.dir. However in this
case dirname would need to be a filter rather than property, to cover index
files. The result code would look like this:

[code]

and output like this:

[co

[2018-11-19 03:58] cup commented on #7386
the `dir` property acts on the `path` property, using pseudocode:

[code]

However a `dirname` filter would ideally act on the `url` property, using
pseudocode:

[code]

[2018-11-19 17:22] #7197 closed

[2018-11-19 17:52] PierBover commented on #2640
Unfortunately tify-html5 [doesn't support SVG](https://github.com/htacg/tidy-html5/issues/70) or other modern features such as block elements inside links.

Anyone found a better option to deal with Liquid's indentation of includes?

[2018-11-19 18:15] jcubic commented on #2640
It work fine for my case but I have basic html.

[2018-11-19 18:20] DirtyF commented on #2640
There's a plugin for that; https://github.com/apsislabs/jekyll-tidy

[2018-11-19 23:10] #7149 closed

[2018-11-20 06:01] cup opened #7387 "falsy site.title"
With http://github.com/pages-themes/primer, a header shows on every page because
of this code:

[code]

you should be able to remove under one of these conditions:

1. site.title == page.title
2. site.title == falsy

we dont want to use number 1, as every page would have the same title. for 2, we
should be able to use `nil` or `false`:

http://shopify.github.io/liquid/basics/truthy-and-falsy

howe

[2018-11-20 06:01] cup commented on #7387
https://github.com/pages-themes/primer/issues/21

[2018-11-20 06:39] ashmaroli commented on #7387
@cup this report has nothing to do with Jekyll.
Jekyll **does not set {{ site.title }} automatically** under the hood

For support regarding usage of themes and plugins, please approach our community forum at:
http://talk.jekyllrb.com

[2018-11-20 06:39] #7387 closed

[2018-11-21 02:31] cup commented on #7387
https://github.com/jekyll/github-metadata/issues/146
https://github.com/jekyll/jekyll/issues/7387
https://github.com/pages-themes/primer/issues/21

[2018-11-21 02:48] cup commented on #7387
i found a better hack for this. according to here:

http://github.com/jekyll/github-metadata/blob/6aea65a/lib/jekyll-github-metadata/site_github_munger.rb#L52

if `site.name` is set in `_config.yml`, then `site.title` is not automatically
set, so it will remain "falsy"

so you just need to add `name: hello world` or similar to `_config.yml`

[2018-11-21 06:10] #7150 closed

[2018-11-21 20:42] Ryuno-Ki commented on #7030
Hi, @pathawks

This reminds me on [Rails asset pipeline](https://guides.rubyonrails.org/asset_pipeline.html#preprocessing):

So it wouldn't be new to Ruby, but maybe to Jekyll …

[2018-11-22 21:15] cup commented on #7370
As a workaround I added this to default.html:

[code]

[2018-11-23 02:09] ari opened #7389 "Collection assets still output even when output:false"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |    OSX 10.14.1        |
| `jekyll`         | 3.8.5     |
| `github-pages`   | No     |

A collection is defined in _config.yml and the output suppressed:
[code]

I have a mixture of images and markdown pages inside the _my_collection folder.
---

## Expected Behaviour

I expect all content i

[2018-11-23 14:49] osiyuk commented on #5165
Interesting, I have almost the same issue with jekyll. In my case I am using debian/linux system.

[2018-11-23 14:55] cocoonkid opened #7390 "Livereload worked but suddenly doesn't."
<
jekyll doctor output:
[code]
I would like to fix this but in my opinion this was already the case before the problem began to occur.
-->

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |       MacOs Mojave     |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

## Current Behavior

## Code S

[2018-11-23 15:04] osiyuk opened #7391 "Bundler LoadError on jekyll serve"
- I ran `jekyll doctor` to check my configuration
  - I read the contributing document at https://jekyllrb.com/docs/contributing/

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     Debian/Linux       |
|`ruby`|2.3.3|
| `jekyll`         | 3.8.5     |
| `github-pages`   | No     |

---

## Expected Behaviour

Serve newly created site with

[2018-11-23 16:20] osiyuk commented on #7391
I still see this as a bug. I do not expect to install gem and gracefully find that it needs another gem. And another...

I have overcome this behavior bu using ```jekyll new --blank```

[2018-11-23 17:05] DirtyF commented on #7391
Jekyll works with gems and bundler is the way to handle gems. Once you installed bundler you should be fine.

[2018-11-23 17:05] #7391 closed

[2018-11-25 00:32] Atcold commented on #7274
@desiredpersona, I've fixed your guide on Jekyll installation on MacOS. Now it works.
Perhaps the documentation here should reflect this guide, in order to avoid people to waste time.

[2018-11-25 10:34] regetskcob commented on #3984
I'm also running into this issue on current macOS Mojave.

[code]

I've recently installed `ruby` and `rbenv` successfully using `brew`, but the error is still there.

[2018-11-26 13:06] desiredpersona commented on #7274
@Atcold Thanks for reaching out. Ok, interesting. 🤔

I'm going to wipe my dev environment and see if I can reproduce this on my machine. Would be great to solve this issue for everyone.

[2018-12-01 00:11] #7151 closed

[2018-12-01 08:47] ashmaroli commented on #6227
Don't do this. It may lead to other bugs. The *proper* way is to just run `bundle update`

[2018-12-01 10:46] arthurattwell commented on #7244
Just confirming that this bug still exists in Jekyll 3.8.5. I've updated my example repo to 3.8.5. [here](https://github.com/arthurattwell/jekyll-page-date-bug), served on GH Pages [here](https://arthurattwell.github.io/jekyll-page-date-bug/).

[2018-12-01 13:03] ashmaroli commented on #7244
@arthurattwell I was able to reproduce this at my end on Windows 7 with your repo.
So this is definitely a `bug` on Windows.

I'll wait for feedback from users on other platforms to see if this reproducible on multiple platforms.
(GitHub Pages is still on `v3.7.3`. So, I won't use that observation.)

But another observation I made was that if `page.date` is in a layout, collection documents render

[2018-12-01 14:05] ashmaroli commented on #7244
What I did:
  - Configured site to use `theme: minima`
  - Configured *front matter defaults* to have all pages and documents use `layout: page`
  - Copied all layouts from minima-gem to your repo's clone (to override Minima)
  - Added the following lines to `default` layout and `page` layout:
[code]
[code]
  - `bundle exec jekyll serve`

[2018-12-01 14:13] arthurattwell commented on #7244
@ashmaroli Thanks! In addition to Windows, I've reproduced the bug on Ubuntu 16.04 and OSX 10.10.5 with `v3.8.5`.

[2018-12-01 18:54] space-otter opened #7399 "Jekyll docs 3.8.5"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |   macOS Mojave Version 10.14.1 |
| `jekyll`         | Latest     |
| `github-pages`   | No     |

---

## Expected Behaviour

I just wanted to run `jekyll docs` for the local documentation.

## Current Behavior

I use `rbenv` for my ruby-version-managment and `bundle` for my gems dependencie

[2018-12-01 19:32] DirtyF commented on #7399
Thanks for the reminder. `jekyll-docs` gem just got updated to v3.8.5, you can install latest version and run `jekyll _3.8.5_ doc`

[2018-12-01 19:32] #7399 closed

[2018-12-02 22:10] #7053 closed

[2018-12-03 20:00] jekyllbot opened #7400 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll. There have been 438 commits since the last release, v3.8.5.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2018-12-04 16:34] Floppy commented on #3041
Wow, 4 years old and I've still not started working on this. It'll be old enough to go to school soon. 🍰

[2018-12-04 17:35] kbrock commented on #3041
@Floppy the multipost code looks like a  good start.
Also looks like they have an answer for multiple of the same format (html) and conflicting layouts

[2018-12-05 17:13] OwenHunter opened #7402 "For Loop not showing anything"
When I run the code #`---
layout: home
---

<head>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui@0.5.4/dist/cirrus.min.css">
</head>
<body>
    <div class="home">

[2018-12-05 17:20] ashmaroli commented on #7402
@OwenHunter We have an "Issue Template" for a reason..
It helps us get to the problem quicker.

Now, please answer the following questions:
- What OS / Platform are you working from..?
- What version of Jekyll are you using?
- What theme are you using?
- Are you using any plugins?
- Are you using the `github-pages` gem..?

[2018-12-05 17:41] OwenHunter commented on #7402
@ashmaroli apologies, I have solved this as well now.

[2018-12-05 17:41] #7402 closed

[2018-12-05 21:01] TheTechAngle commented on #3984
Hi I got the same error as you did, likely because of macOS's system integrity protection.
This fixed it for me
1) Install homebrew
2) brew install ruby
3) You will need to have ruby first in your PATH run
echo 'export PATH="/usr/local/opt/ruby/bin:$PATH"' >> ~/.bash_profile
4) source ~/.bash_profile
5) sudo gem install jekyll

[2018-12-06 12:34] xyunsh opened #7403 "jekyll: command not found"
[code]
thanks for help

[2018-12-06 12:50] DirtyF commented on #7403
Please check our docs https://jekyllrb.com/docs/installation/ to see how to install Jekyll on your system and our troubleshooting page https://jekyllrb.com/docs/troubleshooting/#installation-problems

You might ask for help our the community forum http://talk.jekyllrb.com

[2018-12-06 12:50] #7403 closed

[2018-12-06 13:53] ashmaroli commented on #7323
Closing as this seems to have been resolved on `master`.

[2018-12-06 13:53] #7323 closed

[2018-12-07 05:56] ashmaroli commented on #7255
Resolved via #7302

[2018-12-07 05:56] #7255 closed

[2018-12-08 05:54] anjandas commented on #7274
I see the issue being closed. But I still cannot do "gem install jekyll". Is this resolved for others? If this has been closed what is the official resolution?

[2018-12-08 23:57] desiredpersona commented on #7274
I have spent my entire evening on this Issue.

I wiped my dev environment and started completely from scratch!

I ran in to some permissions issues early on this time around but I managed to solve it. 😄

## Install Xcode Command Line Tools

1. Install the Xcode Command Line Tools using your Terminal app.
[code]

2. You will get a prompt and have to click the `install` button.

    (We don't need X

[2018-12-09 02:44] anjandas commented on #7274
@desiredpersona Do you have a fresh install of Mojave or upgraded from a previous version? My Mojave was upgraded from a previous version so wondering if the problem occurs if you try to install jekyll on top of an upgraded Mojave.

[2018-12-09 02:52] Hordon13 commented on #7274
@anjandas Mine was a fresh install and have issues, so I guess this isn't the problem here. What's your error message?

[2018-12-09 03:19] anjandas commented on #7274
@Hordon13 I tried using two paths

1) Using rbenv and installing ruby 2.5.3  followed by "gem install jekyll bundler"
2) unistalling rbenv and doing "brew install ruby"  followed by "gem install jekyll bundler"

on both the occasions it failed at the same place giving same error. Here are the errors from the output:

current directory: /usr/local/lib/ruby/gems/2.5.0/gems/ffi-1.9.25/ext/ffi_c
/usr/

[2018-12-09 09:54] Hordon13 commented on #7274
@anjandas maybe `brew install libtool`?

[2018-12-09 13:38] DirtyF commented on #7274
Please take this conversation over to http://talk.jekyllrb.com.

[2018-12-09 14:33] desiredpersona commented on #7274
Started a new topic on Jekyll Talk here
[http://talk.jekyllrb.com/t/issues-installing-jekyll-on-macos-mojave/2400](http://talk.jekyllrb.com/t/issues-installing-jekyll-on-macos-mojave/2400)

[2018-12-09 15:50] johnpitchko commented on #7389
May I ask why you want to put images in a collection rather than in another folder?

All the info I read indicates that a collection folder is treated the same as any other folder; the contents will be replicated to the _site folder. But adding a collection to _config.yml just instructs Jekyll to process any markdown files in that folder in a special manner.

[2018-12-09 15:53] johnpitchko commented on #7386
Perhaps this could be a plugin?

[2018-12-09 16:40] DirtyF commented on #7389
Yep, collections whether it's `_posts` or another `_my_collection` are only accepting Markdown files by default. If you don't want your assets to be output you need to put them in a folder beginning with an underscore that is not a collection or exclude the folder from the build.

[2018-12-09 16:43] ashmaroli commented on #7389
This is wrong. Collections other than `posts` can contain static files along side the Markdown "documents"

[2018-12-10 11:17] behrangsa commented on #3408
Please reopen this. It is not fixed/implemented.

[2018-12-10 15:57] DirtyF commented on #7065
@rob-nash I just updated the install process on macOS: https://jekyllrb.com/docs/installation/macos/

- recommend installing gems in home directory by default to avoid file permissions problems (one of the most common error encountered)
- document how to install latest Ruby with homebrew (in case your OS run an old Ruby version)

I've successfully beta-tested those instructions with some users hav

[2018-12-10 16:15] mikekok commented on #2926
I'm facing the same problem on Elementary OS (it's Ubuntu based).
Jekyll doesn't automatically update changes, I have to manually reload the page.
I've tried everything, from force_polling to reinstalling the plugin, but nothing seems to work.

[2018-12-10 16:19] ashmaroli commented on #2926
@mikekok `jekyll-admin` no longer has that bug.. So that's not the issue.
You may need to "serve" your site with `--livereload` to have Jekyll refresh pages automatically.
If problems persist, please open a "new issue"

[2018-12-11 08:41] rob-nash commented on #7065
Thank you @DirtyF you're a rock star.

[2018-12-11 08:41] #7065 closed

[2018-12-12 09:39] DirtyF commented on #6397
@JasonYao Could you precise your use of a development environment here?

[2018-12-12 14:41] parkr commented on #6397
@DirtyF we override site.url in development. We do it in both build and serve, and the bug is to only do it for the serve command, not the build command.

[2018-12-12 15:05] ashmaroli commented on #6397
@parkr No we don't override `site.url` in `build`. It is only in `serve`

[2018-12-12 19:45] derpmarine168 opened #7415 "feat: page.collection property"
## Summary

add a property to `page` that is the name of the collection

## Motivation

This is so i can easily diferentiate between colections in my SEO include. for example,
[code]
I'd also use it to include diferent CSS and JS files in my posts, main pages, etc. via my tags include. (all of my layouts are inside my default layout)
## Guide-level explanation

would go into <https://jekyllrb.com/

[2018-12-12 21:37] cup opened #7416 "Update whitelist"
If you visit here:

http://jekyllrb.com/docs/github-pages

it shows this link:

http://help.github.com/articles/configuring-jekyll-plugins

However comparing it against:

http://github.com/github/pages-gem/blob/fb5c3f2/lib/github-pages/plugins.rb#L22-L41

reveals that these are missing:

- jekyll-commonmark-ghpages
- jekyll-octicons
- jekyll-remote-theme

[2018-12-12 21:38] cup commented on #7416
https://github.com/github/pages-gem/issues/604

[2018-12-12 23:25] cup opened #7417 "Change default markdown parser"
currently kramdown is the default parser:

http://jekyllrb.com/docs/configuration/default

however this has caused many issues, as kramdown is quite different from
CommonMark/GFM:

- https://github.com/gettalong/kramdown/issues/558
- https://github.com/gettalong/kramdown/issues/306
- https://github.com/gettalong/kramdown/issues/211
- https://github.com/gettalong/kramdown/issues/197

and the kramdo

[2018-12-12 23:32] cup commented on #7417
@pathawks per my original post - this page

http://jekyllrb.com/docs/configuration/default

lists "kramdown" as the markdown parser - i am requesting to change that to
"CommonMarkGhPages" both in the documentation and in appropriate places in the actual code

[2018-12-12 23:49] pathawks commented on #7417
"CommonMarkGhPages" both in the documentation and in appropriate places in the actual code

**CommonMarkGhPages** Does not ship with Jekyll by default. There is some talk of using CommonMark as our default Markdown converter in v4, but it requires C extensions which has been a particular pain point for users installing Jekyll.

This is much larger than just a documentation change.

[2018-12-13 00:54] cup commented on #7417
https://github.com/github/pages-gem/issues/605

[2018-12-13 00:59] cup commented on #7417
https://github.com/gettalong/kramdown/issues/197
https://github.com/github/pages-gem/issues/605
https://github.com/jekyll/jekyll/issues/7417

[2018-12-13 06:13] ashmaroli commented on #7415
@derpmarine168 `{{ page.collection }}` property is already available in Jekyll. Feel free to submit a pull request to add the description in our documentation.

*P.S. There is a small error in the Liquid iteration you posted above. Strings should be enclosed in quotes:*
[code]

[2018-12-13 06:13] #7415 closed

[2018-12-13 07:35] cup commented on #7416
@ashmaroli:

1. i never mentioned http://pages.github.com/versions - i mentioned
http://help.github.com/articles/configuring-jekyll-plugins

2. http://pages.github.com/versions is a website - not a repository - so im not
sure how i would submit a PR to a website

[2018-12-13 07:37] cup commented on #7416
@ashmaroli http://pages.github.com/versions is not valid either

https://github.com/github/pages-gem/issues/604

[2018-12-13 07:54] DirtyF commented on #7417
Currently jekyll-commonmark is only mentioned on the plugins listing.

We could add a note on https://jekyllrb.com/docs/configuration/markdown/

[2018-12-13 15:17] pathawks commented on #7416
There is nothing on our end to update.

[2018-12-13 15:17] #7416 closed

[2018-12-13 15:40] DirtyF commented on #7416
/cc @benbalter @parkr

[2018-12-13 18:21] egmontkob opened #7421 "Doesn't watch for changes in files whose name contain an excluded directory as substring"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | Ubuntu 18.10   |
| `jekyll`         | 3.8.5     |
| `github-pages`   | No     |

---

I'm building a site using the [just-the-docs](https://github.com/pmarsceill/just-the-docs) theme. As per that theme, `_config.yml` contains

    exclude: [..., "lib/", "bin/", ...]

## Expected Behaviour

A

[2018-12-13 18:38] ashmaroli commented on #7421
@egmontkob This was a bug in our `jekyll-watch` plugin and has been fixed in its `master` branch.
Pointing your Gemfile to the repository should resolve your issue:

[code]

[2018-12-13 19:06] egmontkob commented on #7421
Amazing, thanks a lot!

[2018-12-13 19:06] #7421 closed

[2018-12-13 20:11] #7113 closed

[2018-12-13 20:11] #7176 closed

[2018-12-15 19:39] Krinkle opened #7426 "Disable evaluation of ununused themes"
## My environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     macOS      |
| `jekyll`         | 3.7.3     |
| `github-pages`   | 187     |

---

## Expected behaviour

Able to build a site successfully even if an unused dependency contains a scss file that won't parse for some reason.

## Current behaviour

See https://github.com/jekyll/jekyll-sass

[2018-12-16 00:05] Krinkle commented on #7426
@DirtyF Thanks for looking into this. I appreciate the input on a downstream pull request, that's really cool (at https://github.com/qunitjs/qunit/pull/1337). However, please note that this does not resolve the issue.

I encountered this issue exactly _because_ I am trying to switch from custom Gemfile to using github-pages. With plain Jekyll (out of sync with github-pages) is actually what is wor

[2018-12-16 06:08] #7244 closed

[2018-12-16 08:37] DirtyF commented on #7426
I wasn't able to reproduce your issue, it's working fine with GitHub Pages gem on my machine.

[2018-12-16 17:54] Krinkle commented on #7426
@DirtyF Thanks for trying. Might be something specific to my machine, or site config. I've pushed the branch to GitHub and below are the steps I use to reproduce the issue.

[code]

Note that since I started this issue, I'm now on github-pages 193 (jekll 3.7.4). Previously github-pages 187 (jekyll 3.7.3).

[2018-12-16 18:12] ashmaroli commented on #7426
@Krinkle You can provide us with more information by using the verbose and trace switches:
[code]

[2018-12-16 18:20] Krinkle commented on #7426
@ashmaroli

<details><summary><code>$ bundle exec jekyll build --verbose --trace</code></summary>
<pre>
  Logging at level: debug
Configuration file: /Users/krinkle/Development/qunit/docs/_config.yml
      GitHub Pages: github-pages v193
      GitHub Pages: jekyll v3.7.4
         Requiring: jekyll-github-metadata
Dotenv not found. Skipping
         Requiring: jekyll-seo-tag
         Requiring: jek

[2018-12-16 18:30] ashmaroli commented on #7426
@Krinkle Though I was not able to reproduced this at my end (the build was successful; OS: Windows), the root cause behind the issue is not Jekyll's doing.
GitHub Pages gem pulls in the primer-theme if no other theme has been set.

Since there's nothing to be done at our end, this is being closed.

[2018-12-16 18:30] #7426 closed

[2018-12-16 19:08] Krinkle commented on #7426
Are you saying that only the sass of Primer is evaluated, not the dozen other gems it downloaded? If so, then I agree this is a non-issue. I assumed that because I am not using this theme, that it was just one of many unused themes installed through Gem that was being evaluated for unknown reasons.

I thought of this and looked for a Jekyll setting that decides the theme, but was unable to find it

[2018-12-16 19:19] ashmaroli commented on #7426
Yes. Primer is the ["fall back theme"](https://github.com/github/pages-gem/blob/840709cf51d3c1276b61d09824e4451b2855b58f/lib/github-pages/configuration.rb#L19) for GHP.

The setting is simply `theme`. It is `nil` by default.
But the boilerplate config file that is generated by `jekyll new` has `theme: minima` set for you.
The value of the `theme` key should be a valid theme-gem-name or else a `Loa

[2018-12-18 17:15] #7293 closed

[2018-12-22 07:48] BinaryMoon commented on #6295
I also see this issue.

[2018-12-22 15:17] realtebo opened #7431 "docs: Wrong command for Windows to open theme dir"
## Motivation

At the page https://jekyllrb.com/docs/themes/, there is this

    2 Open the theme’s directory in Finder or Explorer:
     ....
    # On Windows
    explorer /usr/local/lib/ruby/gems/2.3.0/gems/minima-2.1.0

Obviously this is NOT a windows' user path.

## Suggestion

Replace with right command, that must take into account the folder of installation of ruby.

Just as example, I insta

[2018-12-22 15:23] realtebo opened #7432 "docs: Add a theme step to Step by Step Tutorial"
Plase, add a step on the Step by Step Tutorial to demonstrate how to theme the just finished demo app.

## Motivation

1. Theming is not an obvious task for a newbie like me. Also, doc speaks about gem based and 'regular' file themes. It's confusin  a bit.
2. At the end of demo app it's more beautiful to leave in the han of the user a well looking demo

## Idea

Please include istructions on
- how

[2018-12-22 16:31] DirtyF commented on #7432
On how to start theming for Jekyll, I'd recommend @daviddarnes articles:

1. https://www.siteleaf.com/blog/making-your-first-jekyll-theme-part-1/
2. https://www.siteleaf.com/blog/making-your-first-jekyll-theme-part-2/

[2018-12-23 08:42] maxandersen opened #7433 "post.content is not rendered when using --incremental"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |      osx      |
| `jekyll`         | jekyll 3.8.5    |
| `github-pages`   | no    |

---

## Expected Behaviour

when referring to `post.content` I expect it to be rendered content.

## Current Behavior

when running without --incremental things work, when I run with --incremental
`post.cont

[2018-12-23 08:49] maxandersen commented on #7433
okey, getting crazy here - I could have sworn I got different behaviors of content being rendered/not-rendered.

now I can't reproduce it. Now post.content DOES contain rendered content.

[2018-12-23 08:49] #7433 closed

[2018-12-24 12:10] #7195 closed

[2018-12-24 15:24] 1leopold opened #7435 "Hi everyone, I'm new to this... so please be easy on me. I'm trying to install jekyll on mu mac, and getting the following "/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- rubygems/core_ext/kernel_warn (LoadError) from /System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require' from /Library/Ruby/Site/2.3.0/rubygems.rb:1395:in `<top (required)>' from <internal:gem_prelude>:4:in `require' from <internal:gem_prelude>:4:in `<internal:gem_prelude>'" can anyone help to let me know what i should do, I tried so many things to no avail."
Hi everyone, I'm new to this... so please be easy on me.  I'm trying to install jekyll on my mac, and getting the following

[code]

can anyone help to let me know what i should do, I tried so many things to no avail.

[2018-12-24 17:48] DirtyF commented on #7435
Have your read https://jekyllrb.com/docs/installation/macos/ ?

This repo is only for Jekyll bugs, please post your question on our dedicated forum at https://talk.jekyllrb.com.

[2018-12-24 17:48] #7435 closed

[2018-12-24 18:51] realtebo commented on #7432
Thanks, but it's better have an official doc, and not links to external resources. IMHO

[2018-12-25 11:07] sorsaffari commented on #7337
Great!!

[2018-12-25 11:31] ashmaroli commented on #7337
@sorsaffari To me this doesn't look like an issue with Jekyll.
Jekyll serves a generated site via WEBrick (through `jekyll serve`) which is meant for development purposes only.

You may have to file a request with `rack-jekyll` to provide the compatibility layer for serving with Puma..

[2018-12-26 09:45] suphanatnack opened #7439 "Card sd uplock"

[2018-12-26 12:01] #7439 closed

[2018-12-26 21:36] daviddarnes commented on #7432
If it's validation you're looking for then I can 100% endorse these tutorials ✨. However if you want this set in stone then maybe we could link to these tutorials in the official docs? Maybe in https://jekyllrb.com/tutorials/home/ or https://jekyllrb.com/resources/. What do you day @DirtyF?

[2018-12-27 02:00] XinAnzzZ opened #7441 "I can't install jekyll in the centos"
hi,I am a Chinese, and my english is not so good,so I don't know where should I go for help,so I have to come here to bother you.OK,let's take a look at my problem.

* My computer is CentOS 7,.
* the Ruby'version is `ruby 2.3.6p384 (2017-12-14 revision 61254) [x86_64-linux]`.
*  the gem's version is `2.5.2.2`.
* the gcc's version is `gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)`.
* the make

[2018-12-27 08:06] #7441 closed

[2018-12-27 08:07] XinAnzzZ commented on #7441
now,I resolve it. Thanks for your software.

[2018-12-27 18:40] desiredpersona commented on #7432
What about allowing Jekyll sponsors to post tutorials directly on the site.

Each post has a content sponsored by

[2018-12-27 18:49] jpasholk commented on #7432
Oooh, I like @desiredpersona’s idea.

[2018-12-27 19:06] ashmaroli commented on #7432
IMHO, Documentation is one thing and a (sponsored) community blog is an entirely different league altogether. They should not be intermingled.
Documentation is translating "the code base" into layman lingo. (*Point-of-View: Maintainers -> Users*)
Community blog is about sharing experience with the code base. (*Point-of-View: One User -> Other Users*)
Bringing the sponsors into the mix, is just com

[2018-12-27 20:45] desiredpersona commented on #7432
Hi @ashmaroli

I agree with you here.

I'm thinking the [Tutorials section](https://jekyllrb.com/tutorials/home/) could highlight the community in this way.

[2018-12-27 21:46] realtebo commented on #7432
Sorry but ... To rest in topic... A simple step added to main step by step intro is so wrong?

[2018-12-28 00:50] aidan-fitz commented on #7340
Hey @ashmaroli I tried that and the error went away.

[2018-12-28 00:50] #7340 closed

[2018-12-28 17:40] daviddarnes commented on #7432
I don’t see what is wrong with referring to a tutorial on another site? Yes the tutorial was paid for, but tutorials of that size take time to create. Maybe we could add some more detail on the points people are getting stuck on in the docs?

[2018-12-28 19:20] realtebo commented on #7432
If I see a tutorial on an external website it soon or later will become obsolete.

If I see a tutorial on main site I think that must be ok, tested, and updated.

Simply. Close this issue

A company that does not understand the need of a full doc do not will offer a serious support in the long time

Bye bye.

[2018-12-28 19:21] #7432 closed

[2018-12-28 19:44] DirtyF commented on #7432
Jekyll is an open-source project **freely maintained by volunteers**, it has been around for 10 years now and powers hundred of thousands of websites around the world.

Jekyll has a great [community](https://talk.jekyllrb.com/) and docs are continuously improved with the help of the contributors.

Jekyll themes _are_ [documented](https://jekyllrb.com/docs/themes/#understanding-gem-based-themes). I

[2018-12-29 17:10] mesibo opened #7443 "relative_url is not working in _include/*"
We recently changed the `baseurl` and we were hoping that everything will work fine since we are using relative_url. Unfortunately, we landed into some minor issues. The problem is that relative_url which is working fine under `_layout` folder,  does not seem to work with files inside `_include`  folder.

For example,

`<img class="logo" src="{{ '/images/logo-white.png' | relative_url }}" >`

prod

[2018-12-29 18:57] ashmaroli commented on #7443
You need to provide us with the following necessary information:
  - your Jekyll version (run `bundle exec jekyll --version`) ..?
  - your system OS ..?
  - your Ruby version (run `ruby -v`) ..?
  - what exact string did you assign `baseurl` key to ..?

[2018-12-30 02:03] mesibo commented on #7443
Mac OS 10.14.2

[code]
Exact baseurl string.

[code]
Just to reiterate, it's working fine with files in `_layout` folder, the problem we are facing is with `_include` folder.  Below is Jekyll server output
[code]

There is no difference in output when we delete entire _site folder and regenerate  .

Let me know if you need more information.

[2018-12-30 06:42] ashmaroli commented on #7443
@mesibo I ran a couple of tests with versions `v3.6.2`, `v3.8.2`, and current `master`. I had a `test.md` page with following content:
[code]
and a `_includes/logo.html` with following content:
[code]
For every version tested, the results were the same irrespective of whether it was `jekyll build` or
`jekyll serve`:

[code]

So essentially, this is a `not-reproduced` case for me on
`ruby 2.4.4p296

[2018-12-30 06:51] mesibo commented on #7443
You are possibly NOT testing it right. If you put it in test.md, it will work. However as I mentioned, **it's not working from _include directory.** So you must include a file which is in _include directory and then you will see that it's not working

[2018-12-30 06:55] ashmaroli commented on #7443
:smiley: Please read the test-case again:
  - `test.md` is only "including" the partial.
  - the filter is only used inside the partial: `_includes/logo.html`

[2018-12-30 06:58] mesibo commented on #7443
Yes I read that so corrected myself and now including the exact case :)

Please include logo.html from _layout/whatever.html. This exactly is our case.

This is our layout file _layout/default.html
[code]

And this is under _include/header.html
[code]

Can you see if this works?

[2018-12-30 07:00] ashmaroli commented on #7443
@mesibo If there's a different way you're using it, please create a public test-repository with just the minimum required files. I'll clone it to try and reproduce this issue

[2018-12-30 10:03] ashmaroli commented on #7443
That changes the issue entirely.
Please refer #7281 and issues referenced within

[2018-12-30 14:13] mesibo opened #7444 "feat: relative_url should be the default filter when baseurl is configured"
## Summary
We are new to Jekyll and liking it.  Our [website](https://mesibo.com) will soon be powered by jekyll.

However, while working with jekyll, we needed to move the baseurl and in the process, we had to manually specify `relative_url` filter for all the urls. There we got the obvious question - why wouldn't jekyll apply `relative_url` filter by default when `baseurl` is configured to all t

[2018-12-31 05:56] mesibo opened #7445 "Unable to update Jekyll from 3.6.2 on Mac"
We are unable to update Jekyll from 3.6.2 to latest 3.8.5 on Mac (works fine on Linux).

[code]
[code]

[code]
[code]

Any idea?

[2018-12-31 06:09] mesibo commented on #7445
Seems like github pages is holding the update. Any idea why github-pages not using the latest jekyll.

[2018-12-31 06:31] ashmaroli commented on #7445
We have no control over the [`github-pages`](https://github.com/github/pages-gem) gem.
There are active PRs from the community to bump the bundled Jekyll version, though..

Updating to the latest release of GitHub Pages gem will allow you to [use versions listed here](https://pages.github.com/versions/)

Another alternative is to ditch GitHub Pages entirely and opt for services like Netlify.com, e

[2018-12-31 13:47] #7445 closed

[2019-01-01 17:46] rickbsgu opened #7446 "Jekyll serve keeps crashing, Windows 10 WSL"
OS: Windows 10, latest
Environment: WSL Ubuntu bash shell
----------------------------------------
I installed ruby and jekyll in the WSL, so that may have something to do with it, although it seemed to work fine, initially.

Now it's crashing every time I make a source change.  Sometimes, I have to re-invoke it more than once before it doesn't crash.

I can run it with '--no-watch', but of course

[2019-01-01 21:00] jekyllbot opened #7447 "Update dependency constraint to allow for rubocop v0.62.0"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.61.0`, and the latest version available is `0.62.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-01-02 09:10] #7447 closed

[2019-01-02 17:09] ali-hardan opened #7451 "Jekyll Server not serving custom 404 page"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     Arch Linux 32       |
| `jekyll`         | Latest     |
| `github-pages`   | not used     |

---

## Explain the bug

When I try to browse a wrong URL in Jekyll local server, It should always return `404.html`. but when I set global permalink to `pretty`, the result is:

![screenshot fro

[2019-01-03 00:38] pathawks commented on #7451
See also #5944

WEBrick is not intended to be used in production. It does not currently support custom 404 pages.

[2019-01-03 00:48] #7389 closed

[2019-01-03 00:52] DirtyF commented on #7380
@kylebarbour Do you want to get a few bucks for this contribution? Then add this PR on https://issuehunt.io/repos/65252/issues/7380

[2019-01-03 01:02] JazzMaster opened #7452 "jekyll linux blog parsing broken"
While building locally(and remote hosting, non GH)-

Theres was an issue discovered recently in Jekyll. It does not appear to be a filesystem(ext4) issue. Blog files are getting skipped.

I blogged fine the other day- the post is live. When I go to split the post into more relevant content-however, jekyll skips over both blog posts.

Changing the date of the post doesnt resolve the problem. There

[2019-01-03 04:37] pathawks commented on #7452
Sorry you are experiencing this issue.

Can you provide enough information so that somebody else can try to reproduce this? What OS are you using? How are you editing the files? Exactly which files are you editing? Are you using watch or incremental regeneration?

What steps could somebody take to reproduce this issue?

[2019-01-03 06:56] ashmaroli commented on #7451
@pathawks That is not true.
If you have a `404.html` at the root of your site, our server will load that instead of the WEBrick boilerplate.

@ali-hardan Unfortunately, I was not able to reproduce your issue at my end.
Can you try cloning this repository and attempt again with *our docs site..?*

- For example
[code]
- Edit config file with `permalink: pretty`
- Serve docs site:
[code]
- Point you

[2019-01-03 09:49] ali-hardan commented on #7451
@ashmaroli, done. In jekyll docs, jekyll correcly shows 404 page after I set permalink to pretty.

Now I understand why it was not work in my test. the `404.html` file was in root of my project, after I put it to `pages` folder (like what in jekyll docs done), it works, even if I set permalink to pretty.

Is it a bug, or It's normal? is any docs about it?

[2019-01-03 10:43] ashmaroli commented on #7451
@ali-hardan The only requirement for `404.html` pages is that it **should be at the root of your site**
The easiest way to ensure this is by setting `permalink: /404.html` in the `404.html` page's front matter.
It is possible that when you set `permalink: pretty` globally, `404.html` is getting generated into the path
`_site/404/index.html` instead of `_site/404.html`

*Disclaimer: The above requi

[2019-01-03 10:59] ali-hardan commented on #7451
Now I understand, Thanks.

My previous comment was wrong; That not worked because I put `404.html` into `pages` folder, that was worked because I was copied 404.html from jekyll docs to my project, which was includes `permalink: /404.html`.

[2019-01-03 10:59] #7451 closed

[2019-01-03 11:15] ali-hardan commented on #7451
I think jekyll default 404.html should be contains `permalink: /404.html` as default to avoid this problem.

[2019-01-03 11:18] ashmaroli commented on #7451
@ali-hardan Feel free to submit a PR.. :smiley:

[2019-01-03 11:32] ali-hardan commented on #7451
Oops, It is currently merged, but not released. (#7132)

[2019-01-03 13:37] indrakaw commented on #7431
You can exec these command to determinate gem directory by:
[code]
In my case, I installed Ruby via scoop.sh, it shows:
[code]
https://bundler.io/v1.1/bundle_show.html

`gem environment` shows gem related infos.

[2019-01-03 14:13] realtebo commented on #7431
Thanks for reply, I know how to find the right path and this is why I opened the issue: the doc is wrong about this.

[2019-01-03 14:18] ashmaroli commented on #7431
Feel free to submit a pull request, friends.
Thanks.

[2019-01-03 15:12] mattr- opened #7453 "Remove support for Ruby 2.3.x"
## Summary

Remove explicit support for Ruby 2.3. If it continues to work as part of the 4.x release series, that's great. When Ruby 2.3 stops working with the 4.x series, then we've got a policy in place that says we don't support it.

## Motivation

Ruby 2.3 will be end of life on 2019-03-31. I want to be ahead of the game and stop supporting a version that won't be supported upstream earlier th

[2019-01-03 17:34] cup opened #7455 "Document anchor links"
it seems jekyll has built in ability to do anchor links via

https://github.com/jekyll/jekyll/blob/831fba6/docs/_includes/anchor_links.html

however i do not see any documentation for this here:

https://jekyllrb.com/docs/includes

or anywhere on https://jekyllrb.com for that matter

[2019-01-03 18:41] DirtyF commented on #7455
Jekyll (or default theme) don't ship with such includes, it's something that was specifically developed  for Jekyll's website. Feel free to reuse it on your site or rely on lib like https://www.bryanbraun.com/anchorjs/

[2019-01-03 18:41] #7455 closed

[2019-01-03 21:18] robertbeanstalk opened #7456 "jekyll 3.7.3 | Error: Invalid scheme format: index (9"
I get this error whenever I run "bundle exec jekyll serve". Haven't been able to find it on the web anywhere. What could it be?

[2019-01-03 21:31] DirtyF commented on #7456
👋 Please head over [our community forum](https://talk.jekyllrb.com) to ask for support, don't forget to provide a detailed example or a link to a public repo.

[2019-01-03 21:31] #7456 closed

[2019-01-04 00:00] nhoizey opened #7458 "Future collection items listed in Liquid loops"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | macOS Mojave 10.14.2 |
| `jekyll`         | 3.8.5 |
| `github-pages`   | No |

---

## Expected Behaviour

I created [a `links` collection](https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_config.yml#L31-L33) with [some defaults](https://github.com/nhoizey/nicolas-hoizey.com/blob/m

[2019-01-04 00:13] DirtyF commented on #7458
Thanks for the detailed reporting @nhoizey. That looks indeed like a bug to me.

[code]

Collections don't have necessarily a date, but if they do, we should make sure `future` behaves the same for posts and documents.

[2019-01-04 08:15] DirtyF commented on #7458
☝️ This. I'm with @pathawks to make `future` option a per collection option on this.

[2019-01-04 09:05] ashmaroli opened #7460 "Allow configuring 'future' metadata for individual collections"
## Summary

Currently, `future` config key is global and affects all collections in the site simultaneously. It would be awesome if users were able to exert finer control on which collections with future-dated documents should be iterable / renderable.

## Motivation

This comment by @pathawks :point_right: https://github.com/jekyll/jekyll/pull/6506#issuecomment-340675231

Perhaps I don’t want my

[2019-01-04 09:07] ashmaroli commented on #7458
I've opened #7460 as a dedicated ticket for discussions on this feature request.
@nhoizey and @DirtyF Feel free to provide your feedback.

[2019-01-04 09:14] kylebarbour commented on #7380
Huh, OK, thanks! I'm surprised anyone wants to financially support this simple PR :)

I don't particularly know how the release cycle works, but is there anything I need to do to help this get merged?

[2019-01-04 09:30] #7380 closed

[2019-01-04 09:31] DirtyF commented on #7380
@kylebarbour Thanks  for the fix 💪 🔧

[2019-01-04 09:40] nhoizey commented on #7458
I think @pathawks need in this previous discussion was legitimate, but there was an issue with how content publication (page generation) date and event date (for an "events" collection) are mixed. These are two different things.

You might even want to only publish (generate) in 10 days an event (page) that occurs in 3 months.

Anyway, I could understand this has been decided earlier and can't be

[2019-01-04 09:45] nhoizey commented on #7460
I like this feature description.

However, I don't understand which value I would have to use to fix my issue #7458.

If this is `output: true` and `future: false`, I guess `does not render / write future-dated documents` should be changed to `does not render / write future-dated documents, neither show them in {{ site.events }}`.

[2019-01-04 09:55] nhoizey commented on #7460
Even if it changes everything, I guess this could be nice to have one single setting:

- `output: none`
- `output: past`
- `output: all`

I think page generation and item listing in Liquid loops should be consistent (see [my comment in #7458](https://github.com/jekyll/jekyll/issues/7458#issuecomment-451397112)), but an additional setting could be used:

- `loop: none`
- `loop: past`
- `loop: all`

[2019-01-04 10:02] ashmaroli opened #7461 "Enable desktop notifications when running `jekyll server`"
## Summary

[code]

## Motivation

- I already have my workspace set up to reload automatically on change.
- With this, I would not have to switch to my console window to realize that I missed a semicolon in my Sass partial or forgot to properly close a Liquid Block-Tag.

[2019-01-04 10:17] ashmaroli commented on #7460
@nhoizey I've updated the spec with your suggestion.
But I don't see how setting `output: past` would convey the intention that the user does not want to be able
to iterate through future-dated docs in that collection in their Liquid Templates..

[2019-01-04 10:37] nhoizey commented on #7460
@ashmaroli that's why I added the `loop` setting

[2019-01-04 11:36] DirtyF commented on #7460
We should stick to Jekyll's philosophy: convention over configuration.
Therefore posts and documents should behave the same :

- posts and documents with a future date are not published by default
- when `future` option is globally set to true, posts and documents are accessible in Liquid loops

[2019-01-04 11:44] DirtyF commented on #7461
I don't feel like it's part of jekyll core. This is more of a dev environment setting.
I would advise to use the console in your IDE to avoid switching back and forth.
And of course to use a Sass linter as well.

![jekyll-atom-terminal](https://user-images.githubusercontent.com/103008/50686641-7b95f800-101e-11e9-927c-aaaf40002d0c.png)

[2019-01-04 11:51] ashmaroli commented on #7460
@DirtyF ..and what about when `future` option is globally set to default `false` but with future-dated-posts and future-dated-documents?

[2019-01-04 11:56] ashmaroli commented on #7461
I like the suggestion to use a sass-linter IDE plugin.
Yeah, I too feel like labeling this as a `plugin-feature`
Even then, I'm keeping this **open for a couple of weeks** to see if there's any favorable demand for this..

[2019-01-04 16:18] AxelTerizaki commented on #7246
Not using this anymore as our songs database is now generated on the fly by a React app, but thanks for fixing this :)

[2019-01-04 17:54] nhoizey opened #7462 "Ability to chose which one of reversed and limit apply first in collection loops?"
## Summary

I tried to use both `reversed` and `limit: 20` in a loop over my links collection, to list the 20 latest links in my Atom feed:

[code]

But I get the 20 earliest instead. It looks like `limit` is applied before `reversed`.

Would it be possible to get `reversed` applied first if it comes before `limit` in the loop?

[2019-01-04 18:11] ashmaroli commented on #7462
@nhoizey `{% for .. %}` is a native Liquid Tag. Jekyll has no control over it.
Jekyll would have to implement an in-house version to change its behavior.

[2019-01-04 20:00] DirtyF commented on #7462
It's often that you'll have to assign values in Liquid, it's one of those cases:

[code]

[2019-01-05 00:54] nhoizey commented on #7462
@ashmaroli it makes sense. Maybe I can create an issue on Liquid project, then.

[2019-01-05 00:54] #7462 closed

[2019-01-05 16:16] shangchihh opened #7463 "You must use Bundler 2 or greater with this lockfile. (Bundler::LockfileError)"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |  macOS 10.14.2          |
| `jekyll`         | 3.8.5     |
| `github-pages`   | No     |

---

## Expected Behaviour

`jekyll -v` and `jekyll serve` works correctly

## Current Behavior

I type `jekyll -v` in the `~/` directory and it works fine, but when I type `jekyll -v` in my jekyll proj

[2019-01-05 20:03] DirtyF commented on #7463
You can try:

# update Rubygems
`gem update --system`

# update bundler
`gem install bundler`

# update Gemfile.lock
`bundler update --bundler`

[2019-01-06 07:40] azu opened #7465 "How to get file name of data file in Subfolders?"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | macOS 10.14.2           |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Current Behavior

I've used same example of [Subfolders of Data File](https://jekyllrb.com/docs/datafiles/#subfolders).

I want to get file name like `jekyll` and `doeorg` from `site.data.o

[2019-01-06 17:35] rickbsgu commented on #7446
May have something to do with the project.  I started another project and it seems to be working ok, there.

[2019-01-06 17:44] ashmaroli commented on #7446
@rickbsgu Sorry my friend. There's not much we can do to help you in this regard.
Jekyll already gave you a helpful warning:
[code]

[2019-01-07 03:47] huan commented on #7444
Today I run into this issue and I have to use `{{ 'my_url' | relative_url }}` filter to load my image with the right path.

It would be very convenience if we could use `relative_url` by default.

[2019-01-07 16:57] wyhaines opened #7468 "Allow the include tag to handle files with frontmatter"
## Summary

I am aware of this older feature request about this topic:

https://github.com/jekyll/jekyll/issues/5867

However, I have an entirely different use-case/argument for allowing the include tag to handle files with front matter.

## Motivation

I discovered that include ignores front matter when I was working on converting a site to use Jekyll with Netlify-CMS to manage the content. The s

[2019-01-07 17:06] ashmaroli commented on #7468
@wyhaines Since you have already implemented the feature, why did not open a pull-request directly..?

[2019-01-07 17:11] #7346 closed

[2019-01-07 17:11] wyhaines commented on #7468
Valid. Mostly because it's an idea that has already been rejected once. So I saw value in having that meta-discussion first. Also because my current implementation is a minimally tested hack that seems to work perfectly for my use case, but may well need some love before it's ready to be a PR.

[2019-01-08 15:05] torayeff commented on #7274
This one worked for me

[2019-01-08 16:31] mattr- opened #7469 "Jekyll Release Plans for Q1 2019"
Let's figure out release plans for Q1 2019.

4.0 needs to get out the door by the end of March. Do we need freezes to help push us in that direction?

3.8 needs to be closed off, except for security releases. What's the timeline for the latest round of stuff for 3.8.x?

There's talk of doing a 3.9.99 release so that all the stuff that's been removed in 4.0 has a deprecation warning and can be addr

[2019-01-08 16:54] ashmaroli commented on #7469
- I recommend including #7467 in the next release for because without the patch the concerned build would abort (see #7380)
- It need not be `3.9.99`. We could just ship a `3.8.whatever` with the deprecation warnings..

[2019-01-08 16:59] ashmaroli commented on #7469
If you must feature-freeze, please try to include as many `breaking-change` PRs (currently open) as possible..

[2019-01-08 19:57] wyhaines commented on #7468
OK. I'll recast this as a PR, but in the mean time, @pathawks, if you want to noodle around with the base implementation, the gem is `jekyll-include-with-frontmatter`.

[2019-01-09 13:41] SaswatPadhi commented on #32
Same

[2019-01-09 13:48] ashmaroli commented on #32
Jekyll has two Liquid Tags to provide this functionality:
  - `{% include .. %}`
  - `{% include_relative .. %}`

Please refer our documentation at https://jekyllrb.com/docs/includes/ to decide which tag best fits your use-case.

[2019-01-10 17:18] ashmaroli commented on #7469
Adding to this:
  - Remove all deprecated features

[2019-01-10 22:04] nathanbw commented on #7463
I'm seeing this same issue. I'm using ruby 2.6.0 installed via `ruby-install` and selected with `chruby`. Below is some more detailed information from my system. (MacOS High Sierra)

[code]

[2019-01-11 06:37] ashmaroli commented on #7463
@nathanbw This is not a bug in Jekyll. Jekyll has no constraints on the Bundler version. If anything this could be an issue with Bundler itself.

First try running Jekyll with Bundler:
[code]
If error persists, try the following steps:
- Delete existing `Gemfile.lock`
- Update Rubygems:
[code]
- Run Jekyll with Bundler:
[code]

[2019-01-11 06:37] #7463 closed

[2019-01-14 03:44] cup opened #7474 "Set permalink via Front Matter Defaults"
I have these 2 files:

[code]

that I would like to create these permalinks:

[code]

I would prefer to put this in `_config.yml` rather than Front Matter if
possible. I tried this with no success:

[code]

https://jekyllrb.com/docs/configuration/front-matter-defaults

It just generates these links:

[code]

Is this possible?

[2019-01-14 12:15] Kimwangqing opened #7475 "Jekyll-mention load error on "jekyll serve" or "bundle jekyll server""
Hello,

I met this issue when running "jekyll serve" or "bundle jekyll server" on bash,  but got blocked in an error:

$ bundle exec jekyll serve
Configuration file: D:/Kim.github.io/_config.yml                                   Dependency Error: Yikes! It looks like you don't have jekyll-mentions or one o f its dependencies installed. In order to use Jekyll as currently configured, yo u'll need t

[2019-01-14 12:22] ashmaroli commented on #7475
You should include `jekyll-mentions` in your Gemfile as well when you're running jekyll with `bundle exec`
[code]

[2019-01-14 12:22] #7475 closed

[2019-01-14 15:31] nhoizey commented on #6410
@ashmaroli @hosnas I'm back on this topic as I want to support collections in my `jekyll-postfiles` plugin (might have to change the name… 😅).

I have a `links` collection with this `permalink`: `links/:year/:month/:title.html`

I have these files:
- `_links/2019/01/2019-01-14-the-flexbox-holy-albatross-reincarnated.md`
- `_links/2019/01/2019-01-14-flexbox-albatros.png`

The `jekyll-postfiles` plu

[2019-01-14 15:37] ashmaroli commented on #6410
Yes, that is correct.
Documents use `UrlDrop` to fashion their urls.
https://github.com/jekyll/jekyll/blob/0e761fd4efae753e51d7f8ec3bc6d20cdebdc7ec/lib/jekyll/document.rb#L201
https://github.com/jekyll/jekyll/blob/0e761fd4efae753e51d7f8ec3bc6d20cdebdc7ec/lib/jekyll/drops/url_drop.rb#L38-L48

[2019-01-14 16:38] nhoizey commented on #6410
Sorry, it looks like I don't know enough either Ruby or Jekyll's internals to understand what it means… 😢

Reading your answer, it looks like Jekyll's code already manages dates for documents, but my comment showed they don't… 🤔

I'll try to understand your second answer, as it looks indeed to provide a nice way to manage static files. Thanks.

[2019-01-14 16:55] ashmaroli commented on #6410
@nhoizey As a plugin author, it would help you greatly to know the inner workings of Jekyll, to flow with the program instead of wasting time reinventing the wheel.

The gist of my two comments above is that Jekyll's core primitives (`Page`, `Document` and `StaticFile`) generate urls using a `url_template` (strings that start with a colon, e.g, `:year` / `:month`) with an associated hash / drop of

[2019-01-14 17:01] tigexplorer opened #7477 "jekyll install broken after ruby update to 2.5.0"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | ubuntu 18.04           |
| `jekyll`         | 3.8.5     |

---

## Expected Behaviour

I've updatet ubuntu 16.04 to 18.05.
In that process ruby was updated from 2.3 to 2.5.
It seems that's breaking the jekyll install.

## Current Behavior
[code]

The jekyll install is found in
[code]
As I un

[2019-01-14 17:07] ashmaroli commented on #7477
Please translate above to English

[2019-01-14 17:09] ashmaroli commented on #7477
Either ways, this issue is not because of Jekyll.

[2019-01-14 17:13] nhoizey commented on #6410
I agree. I learned a bit of Ruby to develop some plugins, but never enough to be really at ease with it.

I'm not sure I use it enough to learn, anyway.

I think I understand that. I still have to find where permalinks are used.

I also understand that.

I guess my `jekyll-postfiles` plugin already subclasses `StaticFile`: https://github.com/nhoizey/jekyll-postfiles/blob/master/lib/jekyll/postfile

[2019-01-14 17:42] tigexplorer commented on #7477
Defective interpreter: File or directory not found

[2019-01-14 17:44] tigexplorer commented on #7477
I don't think so.
The hardlink to ruby 2.3 seems to be createt by jekyll install

[2019-01-14 21:34] tigexplorer commented on #7477
Maybe it's a general issue of installing gems. But how can I fix this in the situation described here?

[2019-01-14 22:45] DirtyF commented on #7477
Have you tried https://jekyllrb.com/docs/installation/ubuntu/?

[2019-01-15 06:00] bryanbraun opened #7478 "Styles are mysteriously included in the CSS build"
**Backgroud:** I'm using Jekyll with Github Pages and `pages-gem` (fully updated) to generate a personal site ([repo here](https://github.com/bryanbraun/bryanbraun.github.io)).

## The issue

When I run a build, it generates a file in `/assets/css/style.css` that is unrelated to any of my site's styles. You can [see the compressed stylesheet here](https://www.bryanbraun.com/assets/css/style.css).

[2019-01-15 06:12] mesibo commented on #7444
Can we expect some response from Jekyll team?

[2019-01-15 07:04] Kimwangqing commented on #7475
I added "jekyll-mentions" in gemfile, and then ran "bundle exec jekyll server", but here is another error (I installed jekyll version 3.8.5):

$ bundle exec jekyll serve
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/bundler-2.0.1/lib/bundler/resolver.rb:287 :in `block in verify_gemfile_dependencies_are_found!': You have requested: (Bund ler::GemNotFound)

[2019-01-15 07:57] Kimwangqing commented on #7475
finally, I solved it after several attempts up to the error tips.

[2019-01-15 08:33] tigexplorer commented on #7477
Hi, yes in this way, I've installed jekyll under ruby 2.3. But now, after the update to ruby 2.5, this install is furthermore "connected" with ruby 2.3. I think, that's the reason why I cannot uninstall jekyll, bundler and the other gems, installed like in the instruction.
All this gems in the bin folder contains:
[code]

How can I clean up this broken gem installation?

[2019-01-15 10:33] ashmaroli commented on #7444
That said, the Core Team doesn't plan on currently *having a page's url automatically apply the baseurl onto itself* because it would require a lot of internal changes.
Jekyll uses the `url` to determine the destination file path as well instead of just being an attribute for Liquid Templates.

[2019-01-15 10:41] ashmaroli commented on #7478
@bryanbraun Sorry to inform you that this issue is not because of Jekyll but because of the `github-pages` gem customizing Jekyll internally.
GitHub Pages will fall back to using `jekyll-theme-primer` if the `theme; ` key has not been defined (or if set to `null`)

I would suggest taking this issue up with `github-pages` gem repo or try the unofficial (and untested) hack by setting `theme: ''`

[2019-01-15 10:41] #7478 closed

[2019-01-15 12:10] mesibo commented on #7444
I am sure amount of internal changes will be far less than rest of the users have to make for each and every links in their websites. To be honest, it's no brainer to have this as a default option.

[2019-01-15 12:20] ashmaroli commented on #7444
For argument's sake, if a user with 100 documents has to apply `relative_url` for all 100 documents, then that user is not using Jekyll to its max potential.
All they have to do is set up a couple of layouts and some includes for repetitive markup.

In other news, Jekyll's built-in tag `{% link .. %}` has been enhanced to automatically incorporate the `relative_url` filter in its output from Jekyl

[2019-01-15 14:53] bryanbraun commented on #7478
No worries, this is helpful.

For the record, setting `theme: ''` isn't working for me... I get this error:

[code]

But `theme: null` seems to be working. ¯\\_(ツ)_/¯

Either way, I'll take it up with that project.

[2019-01-15 19:39] #7477 closed

[2019-01-16 21:00] jekyllbot opened #7480 "Update dependency constraint to allow for rubocop v0.63.0"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.62.0`, and the latest version available is `0.63.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-01-17 17:41] luisenrike commented on #7468
Why don't you use `default` like @pathawks said [here](https://github.com/jekyll/jekyll/issues/5867#issuecomment-278009513)?

[2019-01-17 17:43] luisenrike commented on #7474
Your config is fine, just make sure that your 2 files have a front matter definition, it could be blank.

[code]

[2019-01-17 17:52] MTCoster opened #7481 "Broken excluded symlink throws error"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | macOS Mojave 10.14.2 (18C54) |
| `jekyll`         | 3.7.4 |
| `github-pages`   | 193 |

---

## Expected Behaviour

`jekyll serve` works correctly.

## Current Behavior

[code]

<details>
<summary>Full stack trace from <code>jekyll serve --trace</code></summary>
<pre><code>Errno::ENOENT: No

[2019-01-17 17:59] cup commented on #7474
@luisenrike i figured as much - thanks

i think i will just change the heirarchy - i dont want jekyll to process those files just for this reason - thanks again

[2019-01-17 18:08] wyhaines commented on #7468
Because in this particular use case, if I want to use Netlify-CMS to edit include files, they will be written with front matter. So I need to be able to have an include that deals with that.

Beyond that, having all of the defaults contained in one area feels like a less ugly paradigm than depending on `{{ include.something | default: "I'm a thing." }}`.

This would be particularly true for any pa

[2019-01-17 18:20] ashmaroli commented on #7468
@wyhaines FYI, while in theory an include may seem like a constant. in actuality, includes are not cached by default. They *are rendered* each time they're called.
However, includes can be cached by using a plugin if an include does not *depend on a never-constant data source like "the current page's attributes"*

[2019-01-17 18:35] wyhaines commented on #7468
You misunderstand.

I'm not talking about the include being a constant. I'm saying that having defaults in front matter inside of the include is basically like having constants in your class. I'm well aware that an include is rendered each time that it is called, but that's beside the point.

[2019-01-18 15:19] MTCoster commented on #7481
I’m not particularly familiar with Ruby’s `next ... if` syntax, but it looks to me as if the problem comes from the order of evaluation in both this loop:

https://github.com/jekyll/jekyll/blob/79b7b9ac026766a96f55815b5f5e37bb5e41933a/lib/jekyll/entry_filter.rb#L32-L42

And this conditional:

https://github.com/jekyll/jekyll/blob/79b7b9ac026766a96f55815b5f5e37bb5e41933a/lib/jekyll/entry_filter.rb#

[2019-01-18 15:37] ashmaroli commented on #7481
I understand what you're implying with this ticket and I agree with your expectation.
If a path is listed in the `exclude` array, then that path should be excluded right away instead of checking if the path meets other criteria first.

I'll submit a PR for this soon.. Let us see if the other maintainers get on the same page.

[2019-01-18 17:17] MTCoster commented on #7481
@ashmaroli That does the job, thanks!

[2019-01-18 20:58] MtnBiker commented on #7463
`heroku buildpacks:set https://github.com/bundler/heroku-buildpack-bundler2`

from https://github.com/bundler/bundler/issues/6784

For a different situation, but worth a look

[2019-01-19 17:10] #7102 closed

[2019-01-19 17:49] MSP-Greg opened #7483 "Windows - working install script for Ruby 2.6 - feedback"
I believe the following is a script that correctly installs Jekyll on Windows.  EventMachine will be built with OpenSSL support.

Requirements:
1. Assumes a Ruby install >= 2.4, and properly installed 'DevKit' (MSYS2/MinGW) build tools.
2. Path to Ruby or gem install folder should have no spaces (working on that, not a Jekyll issue).
3. `C:/Greg/Jekyll` is 'project' folder, change to suit...
4. Fo

[2019-01-19 17:54] ashmaroli commented on #7483
@MSP-Greg Hi :wave:
Can you post a link to the "issue in a dependent gem repo" you're referring to above, so that there's an idea regarding what exactly the user was looking about for..?

[2019-01-19 18:35] ashmaroli commented on #7483
I use Ruby on Windows via RubyInstaller 2 myself
[code]
And all I need to do regarding Jekyll is:
[code]
You can direct your user to the following docs link for further information: https://jekyllrb.com/docs/installation/windows/

Closing as this is not a bug report.

[2019-01-19 18:35] #7483 closed

[2019-01-19 18:43] MSP-Greg commented on #7483
@ashmaroli

Due to bugs/issues in Bundler/RubyGems and some of the dependent gems, I don't believe that will work for Ruby 2.6, possibly 2.5...

[2019-01-19 18:49] ashmaroli commented on #7483
I'm waiting for AppVeyor to ship support for Ruby 2.6 and we'll have CI test it through.

[2019-01-19 18:54] MSP-Greg commented on #7483
Want to test ruby-head/trunk?

[2019-01-19 21:49] cdalto opened #7484 "docs:"
## Motivation

Trying to following the documentation, line by line, on a clean install of macOS 10.14.2 results in a user's shell not being able to locate jekyll or bundler when running `gem install --user-install bundler jekyll`

## Suggestion

The documentation states that users can run  `gem install --user-install bundler jekyll` OR change their default gem path in their shell config file. I fo

[2019-01-20 05:15] hugetiny opened #7485 "how can i write markdowns work both correct in github pages and github"
## links issue
if I write
[code]
this will show the raw content:  [link]({{ site.baseurl }}{% link another.md %})   in github.com

if i write
[code]
this will link pages to github(I need to stay in github pages website)

## how to not show github pages' html in github
and how can i hide the _layouts html when users are browsing github without showing:
![image](https://user-images.githubusercontent

[2019-01-20 05:36] ashmaroli commented on #7485
There is no way you can do any of that because GitHub, GitHub Pages and Jekyll are different programs.
Jekyll does not control how pages are rendered on GitHub.

[2019-01-20 05:36] #7485 closed

[2019-01-20 18:13] MSP-Greg commented on #7483
@ashmaroli

The original issues was https://github.com/eventmachine/eventmachine/issues/869

Conversation moved to https://github.com/MSP-Greg/jekyll/issues/1.  You're welcome to join.

It involves several issues that are really not caused by Jekyll...

[2019-01-20 19:02] nickjj opened #7486 "On a Linux system, Jekyll serve is hanging my code editor until it finishes reloading"
| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | Debian unstable           |
| `jekyll`         | Latest     |
| `github-pages`   | No     |
| `ruby`          | 2.6.0p0 |
---

## Expected Behaviour

1. Serve the page with --incremental
2. Edit a file
3. Jekyll reloads the file
4. Jekyll reloads the browser

## Current Behavior

1. Serve the page with --incre

[2019-01-20 21:00] jekyllbot opened #7487 "Update dependency constraint to allow for kramdown v2.0.0"
Hey there! :wave:

I noticed that the constraint you have for kramdown doesn't allow for the latest version to be used.

The constraint I found was `~> 1.14`, and the latest version available is `2.0.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-01-21 03:16] ashmaroli commented on #7487
Refer release notes: https://kramdown.gettalong.org/news.html

## Summary

### Major changes:
  - Require at least Ruby 2.3
  - Rouge is the new default syntax highlighter instead of Coderay
  - `Kramdown::Utils::OrderedHash` has been removed in favor of `Hash`
  - The following extensions have been moved into their own repository and Rubygem:
    - [GFM parser](https://github.com/kramdown/parser-

[2019-01-21 03:32] ashmaroli commented on #7487
/cc @mattr-

[2019-01-22 16:48] mattr- commented on #7487
Now is a good time to bump this. Hopefully the extensions being split out don't cause us too much trouble.

[2019-01-22 16:53] ashmaroli commented on #7487
That depends on whether we plan on support the extracted features,
The only way a user is able to use these features is to have Ruby `require` these gems after `kramdown` has been loaded.

[2019-01-22 16:56] mattr- commented on #7487
The only way a user is able to use these features is to have Ruby require these gems after kramdown has been loaded.

We'll need to do that work to support the extracted features. Folks will expect their usage of `kramdown` to not change at all. Our update of kramdown isn't an excuse for us to break that functionality or cause our users to have to change what they're doing.

[2019-01-22 17:05] ashmaroli commented on #7487
Okay. Fair enough.
Leaving some notes here for my future self or anyone else willing to take this up:
  - Jekyll may need to create a wrapper utility that first loads kramdown followed by the above-listed satellite gems.
   - The wrapper should be such that every thing should work seamlessly even if the user opts for `markdown: CommonMark` in their config file so that our filters `markdownify`, `s

[2019-01-22 21:00] jekyllbot opened #7490 "Update dependency constraint to allow for rubocop v0.63.1"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.62.0`, and the latest version available is `0.63.1`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-01-23 06:33] beachchou opened #7491 "site.documents contains static files in collections"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | windows 10      |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

As described in the documentation [Variables](https://jekyllrb.com/docs/variables/)

site.documents : A list of all the documents in every collection.

## Current Behavior

the

[2019-01-23 07:05] #7480 closed

[2019-01-23 07:05] #7490 closed

[2019-01-23 07:18] ashmaroli commented on #7491
I agree with you @beachchou. The documentation is misleading.
The source-code for this behavior is:
https://github.com/jekyll/jekyll/blob/2de291c2976c9d0f57cdd22197fc217d9ce6d20b/lib/jekyll/site.rb#L326-L333

The comment above the code is misleading as well.
Tracing back in time, this change was introduced way back in `v2.3.0` with commit https://github.com/jekyll/jekyll/commit/530e049d2dfa1cad05d

[2019-01-23 14:21] tristanbes opened #7493 "Cannot build if the date is in the future"
Hi,

## My Environment

  - I updated to the latest Jekyll (or) if on GitHub Pages to the latest `github-
  - I ran `jekyll doctor` to check my configuration

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |  OSX 10.14 |
| `github-pages`   | Latest     |

---

## Expected Behaviour

The website should be able to build if we reference a post with `post_url` w

[2019-01-23 14:39] ashmaroli commented on #7493
I understand the essence of this ticket.
That said, did you go through the output from building with the `--verbose` flag? IIRC, the output should have a line similar to `Skipped Publish: [path-to-skipped-post]`

[2019-01-23 14:41] tristanbes commented on #7493
Nope, I tried `--trace` like suggested in the error, but even with `--trace` still no useful information. It was really out of despair that I tried to change the date.

[2019-01-23 14:44] ashmaroli commented on #7493
Okay. We shall add an additional warning to remind users to check their post's date if the site is not future-enabled.
Are you willing to submit a patch?

[2019-01-23 15:03] tristanbes commented on #7493
Not that I don't want to, but it's basically the 3rd time I use jekyll as a "user". So if another wants to pick this, feel free to.

[2019-01-24 18:13] MikeRalphson opened #7496 "Liquid Exception: Liquid error: Cannot sort a null object."
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     Linux       |
| `jekyll`         | 3.7.4 - latest on Travis / installed by `github-pages`    |
| `github-pages`   | 193  |

---

## Expected Behaviour

`bundle exec jekyll build` outputs the same site as on `github.io`, where the site builds without errors and works fine. The Travis buil

[2019-01-24 18:53] MikeRalphson commented on #7496
Many thanks. I'll ask GitHub to amend/clarify their instructions for third-party use of Jekyll.

[2019-01-25 00:50] bcartwri96 commented on #7463
I had a similar issue where my gemfile was bundled with 2.0.1 (as shown in my gemfile.lock) and my bundle --version outputted 2.0.1 but my application said `You must use Bundler 2 or greater with this lockfile.`

`gem update --system` worked for me! Thanks @ikeshavgiri

[2019-01-25 16:15] harry-hov commented on #6467
Hey, I would like to work on this.

[2019-01-25 16:18] ashmaroli commented on #6467
@harry-hov Feel free to do so. We appreciate all the help we get. :+1:

[2019-01-25 16:24] shoaibsufi opened #7500 "Jekyll 3.8.5 on Mac 10.14.2 (Mojave latest): Liquid Exception: no implicit conversion of nil into String in /_layouts/default.html"
When I run:

bundle exec jekyll serve

It gives me an error - Liquid Exception: no implicit conversion of nil into String in /_layouts/default.html

bundle update

The dependency tzinfo-data (>= 0) will be unused by any of the platforms Bundler is installing for. Bundler is installing for ruby but the dependency is only for x86-mingw32, x86-mswin32, x64-mingw32, java. To add those platforms to the

[2019-01-25 17:20] DirtyF commented on #7500
see https://github.com/jekyll/jekyll/issues/7463#issuecomment-451686361

[2019-01-25 17:20] #7500 closed

[2019-01-29 02:20] cup commented on #7417
https://github.com/fcambus/motyl/issues/5
https://github.com/github/pages-gem/issues/605
https://github.com/jekyll/jekyll/issues/7417

[2019-01-30 01:01] ari opened #7504 "Collection still renders with output: false"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |   OSX 10.14         |
| `jekyll`         | 3.8.5     |

---
Related to #7389, but a different issue.

## Current Behaviour

With the following in _config.yml for the collection called 'proposals':

    collections:
      proposals:
        output: false

The collection is still rendered even

[2019-01-30 01:02] ari commented on #7389
Thanks for fixing this. @ashmaroli please have a look at #7504 and see if your patch should go further and suppress the entire rendering phase for the collection.

[2019-01-30 01:55] ashmaroli commented on #7504
@ari There is another ticket open revolving around a **related issue** at #7460.
You're welcome to add to the discussion.

[2019-01-30 02:50] ari commented on #7460
Is this discussion just a special case of a "filter" concept for collections? That is, there is some property by which collection documents are filtered before deciding to output them.

    filter: 'doc.date < time.now'

That's the concept that exists at the moment by default. Could this be made explicit and overridden in arbitrary ways?

[2019-01-30 11:07] ayoungcoder opened #7507 "请大神们帮慢看看"
xiaoxin ~ $  sudo gem install jekyll
Building native extensions. This could take a while...
ERROR:  Error installing jekyll:
	ERROR: Failed to build gem native extension.

current directory: /Library/Ruby/Gems/2.3.0/gems/http_parser.rb-0.6.0/ext/ruby_http_parser
/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/bin/ruby -I /Library/Ruby/Site/2.3.0 -r ./siteconf20190130-8491-14iy6g7.rb ext

[2019-01-30 14:44] #6754 closed

[2019-01-31 05:35] coolreader18 opened #7508 "Collection metadata isn't accessible from liquid"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |  Linux Mint          |
| `jekyll`         | Latest     |
| `github-pages`   | n/a     |

---

## Expected Behaviour

in `_config.yaml`:
[code]

[code]

The above, based on [this StackOverflow post from 2016](https://stackoverflow.com/a/37872190/9236675) and #2230, should render "My Title".

[2019-01-31 05:50] coolreader18 commented on #7508
Nevermind, I wasn't restarting the server between _config.yaml edits.

[2019-01-31 05:50] #7508 closed

[2019-01-31 21:01] jekyllbot opened #7509 "Update dependency constraint to allow for kramdown v2.1.0"
Hey there! :wave:

I noticed that the constraint you have for kramdown doesn't allow for the latest version to be used.

The constraint I found was `~> 1.14`, and the latest version available is `2.1.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-01-31 23:19] chrisco314 commented on #6295
Definitely related to sym links.  In my testing, it would warn but the actual functionality was still reasonably correct. The underlying functionality seemed to still work, but you would have to exclude both the symlink and the actual path.

It would probably make the most sense to resolve any sym link in processing, so you could just exclude one sym link or path and know any other references woul

[2019-02-01 09:53] matthieuviglietti commented on #3984
On Mojave, you can also desactivate temporarly SIP MAC protection, by restarting in recovery mode and use terminal with
csrutil disable; reboot

to re-eanble it csrutil enable; reboot

[2019-02-02 15:47] jameswilson opened #7513 "include tag with variable filename.ext fails on page without permalink"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |   Mac OS         |
| `jekyll`         | 3.7.4     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

Using the [documented](https://jekyllrb.com/docs/includes/#using-variables-names-for-the-include-file) `{% include {{ page.my_variable }} %}` syntax to include a JSON filename d

[2019-02-02 15:49] jameswilson commented on #7513
This issue may not be directly related to JSON, it's just that this is what I was trying to do...

I bet the file extension really has nothing to do with this bug.

[2019-02-02 16:35] ashmaroli commented on #7513
@jameswilson This is quite an interesting case.
Even though you've not provided us with the complete error message. (`Invalid syntax for include tag. File contains invalid characters or sequences:`; What is the invalid character?)

I tried to reproduce this error at my end..

The reason for this issue is because the "include tag" is **inside the `default` layout** from which every other layout inh

[2019-02-02 22:30] timhutton opened #7514 "Single word post title 'yes' causes: Liquid Exception: no implicit conversion of true into String in /_layouts/post.html"
## Environment

OS: Windows 10
Jekyll: 3.7.4
github-pages: 193

Code: https://github.com/timhutton/timhutton.github.io

## Behavior

With this post file:

[code]

I get an error:

[code]

If I change the title of the post, as follows:

[code]

Then the build succeeds:

[code]

Other post titles that cause amusing issues: ```false```, ```true```, ```no```, numbers (see #6319).

[2019-02-02 22:39] pathawks commented on #7514
I am sure that our YAML parser is converting `yes` to a boolean. You can fix this by quoting the value: `"yes"`.

Why it is trying to cast it to a boolean is a more interesting/difficult question.

[2019-02-02 23:33] timhutton commented on #7514
I notice that it doesn't happen if I have this line in my Gemfile:

[code]
instead of
[code]

[2019-02-03 07:36] ashmaroli commented on #7514
The issue is independent of Jekyll version.
[code]
[code]

[2019-02-03 07:40] ashmaroli commented on #7514
@timhutton Can you post the `--trace` output for the error?
It's possible that we can "coerce" `page.title` to be a string at all times internally.

[2019-02-03 07:43] pathawks commented on #7514
I’m not sure that would be a great solution to this problem if `safe_yaml` has already decided that `yes` actually meant `true`.
(Though at least the site would build)

It seems to me that this would need to be changed by the YAML parser.

[2019-02-03 07:49] ashmaroli commented on #7514
@pathawks I agree that it is not the best solution. But then it is not `safe_yaml` that is behind the conversion. It's from Ruby's `yaml` itself. (See my comment above again)

Besides, the "break" is most probably in our plugins' Liquid templates where we're interpolating
`{{ page.title }}`. So, there's every chance that this ticket has to be transferred to elsewhere.

[2019-02-03 10:41] ashmaroli commented on #7514
Based on the specs at https://yaml.org/type/bool.html, it looks like this behavior is intended from YAML.
So, I'm closing this ticket.

[2019-02-03 10:41] #7514 closed

[2019-02-04 09:09] DirtyF commented on #7400
Next release is planned around end of march, when Ruby 2.3 goes EOL.

[2019-02-06 02:13] jakehell commented on #7493
@tristanbes a workaround for this would be to use the `--future` flag when running `jekyll build`.

[2019-02-07 16:16] IpsumLorem16 opened #7515 "docs:"
## Motivation

the link  in the [examples pages ](https://github.com/jekyll/jekyll/wiki/sites)for this person:

Redirects to different spam and scam sites whenever you click it, including fake mirror.co.uk articles pushing a scam, also sites trying to trick the user into installing a malicious chrome extension.

## Suggestion

remove this link.

[2019-02-07 16:24] DirtyF commented on #7515
👍 Done. Thanks for reporting.

[2019-02-07 16:24] #7515 closed

[2019-02-08 01:03] jakehell commented on #7493
Also, @mojombo you are correct, `-V` will show that jekyll is skipping posts at a future date.

I was able to confirm by having a post with a date in the future and running `jekyll build -V`:

`Skipping: _posts/2019-12-31-foo.md has a future date`

However, running with the `--trace` option does not show this message.

Knowing this, do you think this is still considered an issue?

[2019-02-10 20:06] Ramobo opened #7516 "Blog post timezone bug/misunderstanding"
# Example

Post date:
`date: 2019-02-10 15:00`

Configuration file:
`timezone: Etc/GMT`

For clarity below: my timezone is UTC-3.

# Expected behaviour

Built post date when viewing locally from UTC-3: 12:00

# Actual behaviour

Built post time when viewing locally from UTC-3: 15:00

They are 3 hours apart, but seemingly inverted.

From my understanding, the time on posts should be in the timezone

[2019-02-11 12:10] ashmaroli commented on #7516
@Ramobo What OS are you using?
What are your "expected" and "actual" behaviors for TZ offset at `UTC-5`

[2019-02-11 13:10] #7311 closed

[2019-02-11 18:00] benbalter opened #7517 "docs: Incorrect constructor argument documented for Generators"
## Motivation

In https://jekyllrb.com/docs/plugins/generators/, we document the constructor for a generator as follows:

[code]

But a generator is [a subclass of plugin](https://github.com/jekyll/jekyll/blob/master/lib/jekyll/generator.rb), for which the first and only constructor arg [is `config`](https://github.com/jekyll/jekyll/blob/master/lib/jekyll/plugin.rb#L85-L88), not `site`.

Bassed on

[2019-02-11 21:12] ashmaroli commented on #7517
This is not a mistake, @benbalter. The docs in question are not documenting the "constructor" but the "interface" of all generators.
Generators are "constructed" via `#initialize` method like every Ruby class, only difference being that all generators are initialized at the same time via:
https://github.com/jekyll/jekyll/blob/bbd635539dcd7b4df8be1ccb538b7a0b127dbe67/lib/jekyll/site.rb#L121
https:/

[2019-02-11 21:37] benbalter commented on #7517
Ahh, @ashmaroli you are correct. Sorry for the noise (I misunderstood the docs), but really appreciate you taking the time to explain. :smile:

[2019-02-11 21:37] #7517 closed

[2019-02-11 21:45] ashmaroli commented on #7517
I'm glad that I was able to clear the confusion :smiley:

[2019-02-11 22:21] DirtyF commented on #7517
Ideally confusion should be cleared in the documentation 😉

[2019-02-12 06:41] ashmaroli commented on #7517
@DirtyF There was no confusion in the documentation to begin with.
It was just a human error. Ben had misread the docs.
That said, if you feel you can add clarity to existing documentation, I'm happy to review a pull-request towards that.

[2019-02-12 08:37] #7513 closed

[2019-02-12 08:37] #7507 closed

[2019-02-12 13:23] ashmaroli commented on #6547
@pathawks What's the status on this..?

[2019-02-12 14:22] benbalter commented on #7517
Yeah. Specifically, I think I saw the first code block was

[code]

And then

With the following code block:

[code]

With the Generator _below_ that snippet. Skimming, I didn't see the class/namespace change.

If we wanted to, we _could_ switch the order of the second code block so that the generator is first in the Jekyll namespace, but it's a minor optimization, and likely fine as is.

Thanks a

[2019-02-12 16:38] parkr commented on #6547
I'd really love to merge the jekyll-commonmark-ghpages code upstream and just use jekyll-commonmark!

[2019-02-12 16:48] ashmaroli commented on #7517
@benbalter Code switched in https://github.com/jekyll/jekyll/commit/9a4b74c44b9679803d907fd97abbd6a84e671c31

[2019-02-12 23:23] Ramobo commented on #7516
I'm using Windows 10.

For UTC-5 (using 15:00 post time with the timezone Etc/GMT):
Expected: 10:00
Actual: 15:00
They don't seem to change with the system timezone.

Now I'm doing some more testing, and it looks like the post time is absolute, and the offset offsets the time by that offset, no matter your timezone. What's the point of that, then?

How are these offsets even supposed to work?

[2019-02-13 07:35] ashmaroli commented on #7516
@Ramobo The offsets are supposed to work as following (w.r.t Jekyll on Windows and `tzinfo-v1.2.5`):
- A post's date is *absolute* if it doesn't specify the timezone
[code]
[code]
- The offset is calculated w.r.t to the configured `timezone`

  date | timezone setting | result
  ---- | ---- | ----
  2019-02-10 15:00:00 -0300 | N/A | 2019-02-10 15:00:00 -0300
  2019-02-10 15:00:00 -0300 | **`Etc/GM

[2019-02-13 20:24] treverandersen opened #7523 "_includes not working"
So running 'jekyll new site-name'
then 'jekyll serve' everything works great.
Then I created _layouts directory,
removed _posts (because it's just a static site without a blog),
created _includes directory and added in the html files I want as includes..
Then I tried adding {% include head.html %} to my default.html file inside of _layouts directory
Then ran' jekyll serve'
and I get this error:
"L

[2019-02-13 22:36] DirtyF commented on #7523
👋 @treverandersen
Please head over to [our forum ](https://talk.jekyllrb.com) to ask for help on Jekyll's usage. 🆘

[2019-02-13 22:36] #7523 closed

[2019-02-14 05:44] crispgm commented on #7523
[code]

Looks like misspelled `inlcude`

[2019-02-14 12:49] Ramobo commented on #7516
This is too confusing. I expected it to work like this: you specify a timezone in your configuration file and write the dates on your posts to match that timezone, then the time is automatically converted to the timezone of whoever is viewing the post.
I might as well just go with absolute GMT times.

[2019-02-14 13:54] ashmaroli commented on #7516
@Ramobo You've got it all wrong. The time is never automatically converted to the timezone of the viewer. Jekyll generates static sites. All computation is done only at build.

The `timezone` setting is to maintain consistency in timestamps.

For example, say, you have been publishing posts every week at 10AM New York time. Every post has the `time` clearly rendered (`10:00 -0400`) in the post's h

[2019-02-14 14:44] #7516 closed

[2019-02-14 17:49] laukstein opened #7526 "feat: width, height in static_files for images"
**static_files** https://jekyllrb.com/docs/static-files/ currently doesn't return image **width* and **height**.

I use Github Pages and image dimensions (width, height) would help a lot. Know that Github Page wouldn't support it as a plugin, that's way I'm asking to add it in core.

[2019-02-14 23:03] laukstein opened #7528 "feat: add file_exists for static files"
Jekyll doesn't have any native way to check if file exist, before `include` or defining file in md/html/etc.

For now without plugins the way to check if simple file exists is to loop trough all files:

    {% for static_file in site.static_files %}
        {% if static_file.path == '/foo.jpg' %}
            {% assign file_exists = true %}
        {% endif %}
    {% endfor %}

while instead if cou

[2019-02-14 23:05] v3nd3774 commented on #7493
Hi! I opened up a pull request [here](https://github.com/jekyll/jekyll/pull/7527) to resolve this!

[2019-02-15 00:20] Ramobo commented on #7516
Alright, I see.

[2019-02-15 13:47] #7220 closed

[2019-02-15 17:33] treverandersen commented on #7523
*facepalm yep. thanks!

[2019-02-15 18:06] weilinzung opened #7531 "Subscribe to Jekyll News?"
## Summary

We want to post the latest news from https://jekyllrb.com/news/ to Slack Channel, but the Jekyll News doesn't have the `RSS.xml` and also that is an easy way to automatic post to Slack Channel. Please add that.

[2019-02-15 18:45] DirtyF commented on #7531
You can subscribe through https://jekyllrb.com/feed.xml

[2019-02-15 20:07] DirtyF commented on #7531
We just added a cateogiry feed for the releases only: https://jekyllrb.com/feed/release.xml

[2019-02-15 20:07] #7531 closed

[2019-02-15 20:34] weilinzung commented on #7531
awesome!

[2019-02-16 00:09] kimbaudi commented on #7296
So `.md` files in [Pages](https://jekyllrb.com/docs/pages/) and [Posts](https://jekyllrb.com/docs/posts/) do not require front-matter to convert to `.html` files, but `.md` files in [Collections](https://jekyllrb.com/docs/collections/) require front-matter to convert to `.html` files... 😞

Personally, I wish this part was consistent. Either require front-matter in all `.md` files (Pages, Posts, Co

[2019-02-16 02:02] ashmaroli commented on #7296
@kimbaudi Actually, only **`Posts`** (any valid convertable extension) do not require front matter to be converted to HTML Pages.
Everything else, `Pages` or other `Collection` documents require front matter to be converted to HTML.

Jekyll uses the front matter to decide whether to consider a file as "convertable" or "non-convertable (static)" based on the presence of front natter. Posts get the

[2019-02-16 06:02] kimbaudi commented on #7296
@ashmaroli, both [**Pages**](https://jekyllrb.com/docs/pages/) and [**Posts**](https://jekyllrb.com/docs/posts/) do not require front matter for `md` files to be converted to `.html` files. (Note: **Pages** mean any `.md` file in the root directory. **Posts** mean any `.md` file in the `_posts` directory.)

Unfortunately, only [**Collections**](https://jekyllrb.com/docs/collections/) require front

[2019-02-16 07:19] ashmaroli commented on #7296
@kimbaudi I wouldn't blame you for arriving at that conclusion. But the truth is that the reason you feel so is because of [this plugin](https://github.com/benbalter/jekyll-optional-front-matter) automatically loaded by `github-pages`.

If you were to build a site using just plain Jekyll (any version), then you'll realize that GitHub Pages and Jekyll produce slightly different results out-of-the-b

[2019-02-16 16:08] #7493 closed

[2019-02-16 16:19] #5754 closed

[2019-02-16 16:31] #7246 closed

[2019-02-16 17:42] kimbaudi commented on #7296
@ashmaroli thank you for clarifying that [jekyll-optional-front-matter](https://github.com/benbalter/jekyll-optional-front-matter) is the reason why Pages do not require front matter. I will just continue to use the jekyll-optional-front-matter plugin since I really don't want to add front matter to each `.md` file for Pages. And I will just add front matter to each `.md` file for Collections unti

[2019-02-16 18:41] A1Liu commented on #7460
Could the `published` attribute be modified to acheive the same effect as described above? i.e. published has 3 settings (similar to @nhoizey 's suggestion):

[code]

Where `null` is the default behavior and behaves like `published: true` does now, `published: false` has the same behavior, and the new `published: true` forces document output.

Then, to achieve granularity with collections you woul

[2019-02-16 20:10] #7081 closed

[2019-02-18 08:06] javasunCN opened #7535 "Jekyll MacOS Mojave installation failed"
MacOS Mojave 10.14.3
gcc version 8.2.0 (Homebrew GCC 8.2.0)

Question:
Building native extensions. This could take a while...
/usr/local/Cellar/ruby/2.6.1/lib/ruby/2.6.0/rubygems/ext/builder.rb:76: warning: Insecure world writable dir /Users/zhangzhihong/tool/zk/zookeeper-3.4.9/bin in PATH, mode 040777
ERROR:  Error installing jekyll:
	ERROR: Failed to build gem native extension.

    current dire

[2019-02-18 08:17] DirtyF commented on #7535
Did you install the command line tools?

[code]

[2019-02-18 14:56] by-lufog opened #7537 "_config.yml exclude rule crashes jekyll"
When i add to `_config.yml`:
[code]
or
[code]

I get the following error:
`Error: could not read file /mnt/e/dev/jekyll/site/vendor/bundle/gems/jekyll-3.8.5/lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb: Invalid date '<%= Time.now.strftime('%Y-%m-%d %H:%M:%S %z') %>': Document 'vendor/bundle/gems/jekyll-3.8.5/lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb'

[2019-02-18 15:17] DirtyF commented on #7537
https://jekyllrb.com/docs/troubleshooting/#configuration-problems

This happens because `vendor/bundle` is excluded by default, and should stay present when you override defaults includes:

[code]

@jekyll/core As the message is clearly disturbing for users, could specifying *additionnal* excludes *add* those to the defaults?

[2019-02-18 15:33] ashmaroli commented on #7537
@DirtyF I have a proposal at #7188. Feedback invited.

[2019-02-18 22:28] anetk opened #7539 "Windows Error ChildProcesses.onexit"
I'm getting an error only on Windows machine when trying to build Jekyll.

Here is my gulp task:

`const buildJekyll = () => {
  browserSync.notify("Running: $ jekyll build");
  return spawn(jekyll, ["build"]);
};`

Here is the error:
<img width="784" alt="screen shot 2019-02-18 at 2 18 37 pm" src="https://user-images.githubusercontent.com/11873129/52979309-d6df3800-3389-11e9-8133-9115337f67e3.png

[2019-02-19 03:19] ashmaroli commented on #7539
@anetk This does not look like a Jekyll issue.
The issue is mostly due to the difference in how `child_process.spawn()` is to be used on Windows and on Unix-based platforms.
Please refer documentation for the `child_process` npm module or ask the author of `sass-jekyll` for assistance.

[2019-02-19 03:19] #7539 closed

[2019-02-19 06:27] javasunCN commented on #7535
Already installed command line tools

[2019-02-19 08:38] DirtyF commented on #7535
I have:

[code]

❓ Is it better if you run:

[code]

[2019-02-19 09:21] #7537 closed

[2019-02-19 16:54] #4791 closed

[2019-02-19 17:02] kimbaudi commented on #7504
@ari Unfortunately, it is not enough for you to set `_config.yml` to be:

[code]
You also need to add front matter to the collection files in order for jekyll to process it.

For example, if you have a collection file `_proposals/foo.md` without front matter:

[code]

Then jekyll will read it as a static file since it has no yaml front matter and just copy `foo.md` over to `_site/proposals` folder

[2019-02-19 17:29] kimbaudi commented on #7504
@ari If you have static assets (.txt, .png, etc) inside your collections folder (e.g. `_proposals`), you have to just exclude those image files from being processed using the `exclude` configuration option:

**_config.yml**
[code]

Unfortunately, jekyll considers any collection files without front matter to be static assets.

[2019-02-19 21:00] jekyllbot opened #7541 "Update dependency constraint to allow for rubocop v0.65.0"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.64.0`, and the latest version available is `0.65.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-02-19 21:15] DirtyF commented on #7541
Done.

[2019-02-19 21:15] #7541 closed

[2019-02-20 00:15] ari commented on #7504
@kimbaudi thanks for the ideas, but that's not the point of this ticket. The problem is that jekyll goes through the rendering phase for collections it will never output. That's not necessary and slow (in my case it takes several minutes since the collection is large).

[2019-02-20 00:18] ari commented on #7460
@A1Liu I think that replacing true with null is a bit obscure and not self-documenting. I still sort of like my idea: having fine grained filter functionality per collection. However I'm not sure in Ruby how easy it is to execute a closure filter without introducing any security issues.

That could be added without any backward compatibility issues.

[2019-02-20 05:15] A1Liu commented on #7460
@ari Why do you think `null` is obscure and ambiguous? My thoughts are:

1. The Jekyll philosophy seems to favor simple functionality that can be combined to create complexity, as opposed to native fine grain functionality. Additionally, from what I understand of your idea, you'd need some kind of declarative language to express the filter? That seems more like something that should be in a plugin

[2019-02-20 08:21] #7431 closed

[2019-02-20 19:09] kimbaudi commented on #7504
@ari I get your point and now I realize you discovered an inconsistency in the way jekyll handles static assets for posts vs collections. I agree with you that static assets in collections should not be copied to the destination (e.g. `_site/_proposals`). Since static assets do not get copied to the destination for posts, it should be the same for collections.

Also, we shouldn't have to specify `

[2019-02-20 19:54] kimbaudi commented on #7504
Btw, I think the title of this issue should be changed to something like:
**Inconsistency: static assets without front matter are rendered in Collections, but not Posts**

The current title seems to suggest that it has something to do "with output: false", but that is misleading because Collection renders static assets regardless of the value of the `output` collections metadata.

[2019-02-21 03:55] ashmaroli commented on #7504
@kimbaudi While your observation about the inconsistency is correct, **this ticket is not about static files.**

What @ari means with this ticket is to report that **Markdown documents with front matter** are *"processed by Liquid and Kramdown"* even if the parent collection was configured with `output: false`.

In other words. according to @ari, *resources are wasted on rendering something that i

[2019-02-21 04:48] kimbaudi commented on #7504
@ashmaroli thanks for the clarification. So I guess even if the parent collection was configured with `output: false`, **markdown documents with front matter** are *"processed by Liquid and Kramdown"*. Since markdown documents under collections aren't converted to html in the final build when `output: false`, I blindly assumed that those documents weren't being processed by Liquid and Kramdown 😅.

[2019-02-21 17:43] matejlatin opened #7544 "Concurrent ruby conflict error when trying to create a new Jekyll website"
I'm trying to create a new Jekyll website, I had created them in the past and if I run `jekyll serve` that website works.

Today I tried to create a new website and I received a 'concurrent ruby conflict' error. I have no Idea what that means.

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |      macOS Mojave 10.14.2      |
| `jekyll`

[2019-02-21 18:41] ashmaroli commented on #7544
This really a strange issue. I can't figure out why `concurrent-ruby-1.1.4` is trying to load `concurrent-ruby-ext-1.1.4`.. :man_shrugging:
That said, this is not a Jekyll issue.
To proceed, you can simply uninstall `concurrent-ruby-1.1.3` and `concurrent-ruby-ext-1.1.3` gems entirely and ensure that there is no `Gemfile` in the directory you invoke `jekyll new` from.

Closing, since there's nothi

[2019-02-21 18:41] #7544 closed

[2019-02-21 19:58] mitulsavani opened #7545 "Liquid Exception: 'if' tag was never closed included in /_layouts/home.html"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |    MacOS        |
| `jekyll`         |3.7.4     |
| `github-pages`   |196     |
| `Gem`   |2.5.2.3     |
| `Ruby`   | 2.3.7   |

---

## Expected Behaviour

I am trying to push some changes that I made locally to my [website](mitulsavani.github.io)
But it doesn't reflect on the site.

## Cur

[2019-02-21 20:58] DirtyF commented on #7544
@matejlatin On another topic, Ruby 2.3 will go EOL at the end of march, next Jekyll version will drop support fu Ruby 2.3.

[2019-02-21 21:54] DirtyF commented on #7545
Hi, please head over Jekyll's forum for help on Jekyll's usage: https://talk.jekyllrb.com or on https://github.community/t5/GitHub-Pages/bd-p/pages

[2019-02-21 21:54] #7545 closed

[2019-02-21 22:03] mitulsavani commented on #7545
@DirtyF I have already posted the issue there, no one have help yet! Thought someone will answer my fix here 🤷‍♂️

[2019-02-22 07:11] DirtyF commented on #7545
Check your liquid include, it seems like a mismatched ìf`.

[2019-02-22 07:14] mitulsavani commented on #7545
Thank you so much . I appreciate your response.

[2019-02-22 20:23] abethcrane commented on #3926
I'm using jekyll 3.8.5 and if I have subfolders in _drafts I get this same error

I use _drafts for both drafts and private posts that I only wish to view locally, and don't plan on uploading anywhere.

[2019-02-23 16:10] #7194 closed

[2019-02-25 13:16] behrangsa opened #7546 "Print a warning message when a numeric value is passed as the value for the -p (plugins directory) argument"
It is quite unlikely for the plugins directory name to be a number (e.g. 4000), so if a user sets the value of the -p parameter to something like 4000, most likely he has meant to pass that as the value of the -P parameter.

I made this mistake and was scratching my head for hours earlier today.

I suggest to print an informative warning message when `jekyll serve` receives `-p <integer>`, e.g.:

[2019-02-25 17:12] vzro opened #7547 "[Windows 10] "Liquid Exception: no implicit conversion of nil into String in /_layouts/default.html" when using (really) long pathnames"
## My Environment

| Software          | Version(s) |
| ---------------- | ----------- |
| Operating System | Windows 10  1703 15063.1418 |
| `ruby`         | 2.5.3p105 revision 65156 [x64-mingw32] |
| `gem`         | 3.0.2 |
| `jekyll`        | 3.8.5 |
| `bundler`    | 3.0.2 |
| `liquid`       | 4.0.1 |
| `github-pages`       | no |

---

## Expected Behaviour

Jekyll should serve the site

## Cu

[2019-02-25 19:50] ashmaroli commented on #7547
@vzro Hi :wave:
Can you please post the output from running `bundle exec jekyll serve --trace` &nbsp;?

[2019-02-25 20:32] ashmaroli commented on #7547
The issue is not with the length of the file path but the fact that a our file-path extractor balks at the presence of a parenthesized entity `(Lynda)` in the path.

You should have no issues with a path such as
`C:\Users\CPD\Desktop\Learning Static Site Building with Jekyll--Lynda`

[2019-02-26 07:15] jonaprieto commented on #1303
How to include just the content of the file? I'm getting also the header information like layout, title and that...

[2019-02-26 17:06] scottdorman commented on #1069
This issue seems to still exist. Look at ~~https://scottdorman.github.io/2015/05/29/introducing-jquery-gotop/~~ https://scottdorman.github.io/2015/05/28/introducing-jquery-gotop/as an example. The date portion of the link gets set to `2015/05/29` even though the front matter has `date: '2015-05-28 23:23:39.00000000 -05:00'` and my _config.yml has `timezone: America/New_York`. I have tried the fron

[2019-02-26 17:15] ashmaroli commented on #1069
@scottdorman This is a very old ticket.
Please open a new ticket providing us with the relevant information about the issue and your Jekyll environment.

[2019-02-26 17:24] scottdorman opened #7550 "The wrong date can be used in the url"
## My Environment

This is building on the latest version of github-pages.

## Expected Behaviour

For a post with a front matter date of `date: '2015-05-28 23:23:39.00000000 -05:00'`, the URL generated should have the date portion as `2015/05/28`. For additional (older) information, see #1069.

## Current Behavior

This issue reported in #1069 seems to still exist.
Look at ~~https://scottdorman.g

[2019-02-27 04:07] vzro commented on #7547
When will this fix be incorporated in an upcoming stable release?

[2019-02-27 04:09] vzro commented on #7547
I see, this is a rather odd bug. I stick with a naming convention for all my folders, I hope we'll be able to use parentheses in the pathname soon.

[2019-02-27 06:11] ashmaroli commented on #7547
@vzro Sorry for the inconvenience. A patch may or may not be made available for Jekyll 3.x series, but will most likely be included in the upcoming Jekyll 4.0

[2019-02-27 21:11] #7341 closed

[2019-02-28 03:05] leonaves commented on #7030
Would appreciate an update on this, suggested solution of `* .liquid.html` does not work.

[2019-02-28 23:08] CarlasHub opened #7552 "server address changed after set url"
I ran set-url and  now  i'm not able to serve my page anymore.
 I'm still not sure if that is the reason

before: Server address: http://127.0.0.1:4000

now : Server address: http://127.0.0.1:4000 /carlashub.github.io//
ERROR `/' not found.

![image](https://user-images.githubusercontent.com/34892979/53605019-20abf780-3bae-11e9-937a-78ba78cb9b3d.png)

can't build
![image](https://user-images.githu

[2019-03-02 09:19] CarlasHub commented on #7552
I solve this problem by.

1- delete _site
2- update the config.yml and make sure there was not baseurl path
4- add remote again  git remote add origin git@github.com:Username/your_git_repository_name
3-bundle exec jekyll serve -- watch --baseurl ""

[2019-03-02 09:20] #7552 closed

[2019-03-02 15:09] muromtsev opened #7553 "docs: Help update Jekyll"
Hi. There is a repository with a blog. So, recently I started to swear at what needs to be updated Jekyll.
How to do it?
http://prntscr.com/ms9ret

[2019-03-02 15:28] ashmaroli commented on #7553
Run `bundle update` in your terminal to update all outdated gems in your project.
Run `bundle update jekyll` in your terminal to just update Jekyll.

[2019-03-02 21:38] DirtyF commented on #7553
@muromtsev Most of the times, you just need to run `bundle update`.

See https://bundler.io/v2.0/man/bundle-update.1.html if you want to know more.

Be aware that the corresponding update will depend on the versions declared in your Gemfile:

[code]

See https://guides.rubygems.org/patterns/#pessimistic-version-constraint to learn about semantic versioning and version constraint.

@jekyll/document

[2019-03-04 07:49] #7386 closed

[2019-03-04 07:50] #7384 closed

[2019-03-04 12:12] #7461 closed

[2019-03-05 16:10] muromtsev commented on #7553
Thank you for your reply.
There was a console error
in find_spec_for_exe cant find with exutable bundle
Corrected. Updated. Thank!

[2019-03-06 12:24] matteocarpi opened #7555 "Sass stopped compiling"
Hello,

I run into a problem and the terminal is suggesting to report a bug.

I stopped and restarted a server after some scss stopped compiling and this is the warning message that I got.

[code]

You can have a look at the public repo [here](https://github.com/matteocarpi/julia/tree/develop)

Thanks!

[2019-03-06 12:38] ashmaroli commented on #7555
@matteocarpi If you're referring to the following:

Then ensure Bundler is installed simply prepend `bundle exec` to your command:
[code]

[2019-03-06 17:51] peter-jerry-ye commented on #920
I achieved the same effect but with ```/:path```. In my case, it won't work if there's a slash after the path.

[2019-03-10 00:07] Mebus opened #7559 "Paginate data files"
Hallo,

I created an image gallery, that draws it's data from a data file. Now I want to paginate the gallery. Is it possible to paginate a data file?

Thanks!

Mebus

[2019-03-10 01:26] liamrosenfeld commented on #3984
This worked for me (on Mojave):

1. Install homebrew:
      `ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" `

2. Update ruby:
      `brew install ruby`

3. Set ruby in your PATH:
      `echo 'export PATH="/usr/local/opt/ruby/bin:$PATH"' >> ~/.bash_profile`
      `source ~/.bash_profile`

4. Install Jekyll into a folder that isn't protected by SIP:

[2019-03-10 06:38] epogrebnyak commented on #5584
In my case neither removing the seo tag, nor deleting the _site directory worked. I still get:

[code]

[2019-03-10 06:44] epogrebnyak commented on #5584
In my case it makes a difference where the source files are located, if they are in project root folder, there is no error, if I configure to read from another folder (`--source DIR`), I get the incompatible character encodings error.

[2019-03-10 06:48] epogrebnyak commented on #5584
Shouldn't this issue be maked as open?

[2019-03-10 07:01] ashmaroli commented on #5584
@epogrebnyak What exactly is the custom source_dir name? Does it contain accented characters or other diacritics?

[2019-03-10 07:07] epogrebnyak commented on #5584
This [Stackoverflow thread](https://stackoverflow.com/questions/13146420/my-jekyll-site-cant-build-liquid-exception-incompatible-character-encodings) also suggests changing `chcp 65001`, but again it does not work with custom dir.

[2019-03-10 07:10] epogrebnyak commented on #5584
In my situation the project directory is `C:/Users/Евгений/Documents/GitHub/kppk/` and custom source dir is `C:/Users/Евгений/Documents/GitHub/kppk/source`, so in the long directory name there are non-ASCII characters. Maybe I should try to use a simple ASCII path to see if the error perisists.

[2019-03-10 07:11] ashmaroli commented on #5584
I think the issue is with your username `Евгений`.. Because of it the paths are encoded differently..
I tried creating a new site **with that name and was not able to build** at my end..
Can you try as well?
[code]

[2019-03-10 07:45] epogrebnyak commented on #5584
I'm able to build and serve from ```D:\github\here_is_jekyll_demo\Евгений``` as well as adding ```--source source```. The non-ASCII characters do not seem to be a root of a problem.

The `jekyll new` command starts a `minima` theme. It seems I run into problems when doing `jekyll-theme-minimal`. My failing repo is [here](https://github.com/epogrebnyak/kppk).

[2019-03-10 07:52] ashmaroli commented on #5584
@epogrebnyak Can you set up [AppVeyor](https://www.appveyor.com) on that failing repo to test building on Windows..?

[2019-03-10 13:16] epogrebnyak commented on #3248
I'm struggling with the error message `Error reading file <...>/_layouts/default.html:` too. I think separating source files (eg in markdown) from the rest of setup is the core feature of static file generator - it allows to focus on the content after the setup was done.

Separating `--source DIR` proves very difficult for me - see on a [build log documenting the error](https://ci.appveyor.com/pro

[2019-03-10 13:22] ashmaroli commented on #3248
@epogrebnyak Can you open a new issue ticket please. This one is too old for consideration

[2019-03-10 13:32] epogrebnyak commented on #5584
I moved the repo to a directory  with ASCII-only full path and the original problem is solved. Still strange the build works on non-ASCII full path until `--source DIR` is specified, but perhaps it is too subltle behavior to replicate and investigate. Short answer is: on Windows your entire full path better be ASCII characters.

I did setup Travis (linux) and AppVeyor (windows) for repo, and they

[2019-03-10 13:44] ashmaroli commented on #5584
Actually, errors on Travis and AppVeyor are the same. Your `_layouts` directory should either be inside your `source` or within the theme-gem..

[2019-03-10 14:05] epogrebnyak opened #7563 "error finding _layout\*.html files when building with --source DIR flag on Windows"
- [x] I updated to the latest Jekyll (or) if on GitHub Pages to the latest `github-pages`
  - [x] I ran `jekyll doctor` to check my configuration

[code]

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |  Windows 10 - 10.0.17763 build 17763           |
| `jekyll`         | jekyll 3.8.5 |

---

## Expected Behaviour

I'm expecting the site

[2019-03-10 14:12] epogrebnyak commented on #5584
Perhaps I should try a theme-gem, but that way I loose control of editing the layouts.

The required path inside `source` folder is rather crazy:
`/home/travis/build/epogrebnyak/kppk/source/home/travis/build/epogrebnyak/kppk/_layouts/post.html `

I filled a new issue [error finding _layout\*.html files when building with --source DIR flag on Windows](https://github.com/jekyll/jekyll/issues/7563) a

[2019-03-10 14:17] ashmaroli commented on #7563
Jekyll looks for `_layouts` either inside your configured `source` or inside a theme-gem.

[2019-03-10 14:22] pathawks commented on #7563
Can you explain in a bit more detail where you _expected_ Jekyll to find the layouts? Are you using a theme?

I’m not sure if this issue is trying to address a hole in our documentation, or a Windows specific issue.

[2019-03-10 15:07] epogrebnyak commented on #7563
@ashmaroli , @pathawks many thanks for helping! Initially, I was not sure if it is a bug on Windows or a documentation whole, but now it looks like a documentation or maybe feature request.

I realise I might be coming from different angle to separating the content from representation. In documentation engine like `sphinx` the `source` usually refers to plain-text RestructuredText or Markdown file

[2019-03-10 17:25] ashmaroli commented on #7563
@epogrebnyak That particular issue had already been fixed on our `master` branch.
Nevertheless, I've opened a pull request (:point_up:) to provide additional hints to users in such situations and have also included a note in the documentation

[2019-03-10 21:00] jekyllbot opened #7565 "Update dependency constraint to allow for tzinfo v2.0.0"
Hey there! :wave:

I noticed that the constraint you have for tzinfo doesn't allow for the latest version to be used.

The constraint I found was `~> 1.2`, and the latest version available is `2.0.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-03-11 01:11] epogrebnyak commented on #7563
@ashmaroli - thanks for following up on the request, I think a PR fully addresses issue I raised.

[2019-03-11 01:11] #7563 closed

[2019-03-12 04:37] localhostdotdev commented on #7463
`spring stop` can also solve this (bundler 1.17 was loaded in memory I guess, even though I installed and used bundler 2)

[2019-03-13 22:10] #7379 closed

[2019-03-14 15:18] kylekirkby commented on #4929
Hi all,
Any idea if a fix for this was implemented?
BR,
Kyle

[2019-03-14 15:36] ashmaroli commented on #4929
@kylekirkby This is an old issue that got closed due to inactivity. Please open a new issue ticket detailing your use case and Jekyll environment.

[2019-03-14 23:43] gdmcdonald commented on #7535
I have the same issue, and running
```brew install cmake llvm@4 libffi```
doesn't solve it

[2019-03-15 10:44] fingolfin commented on #7528
This would be incredibly useful for me, too

[2019-03-15 14:24] DirtyF commented on #7535
https://desiredpersona.com/install-jekyll-on-macos/

[2019-03-15 16:48] #6658 closed

[2019-03-15 16:53] ashmaroli commented on #7258
Optimized satisfactorily..

[2019-03-15 16:53] #7258 closed

[2019-03-15 17:14] #7547 closed

[2019-03-15 17:27] #7487 closed

[2019-03-15 17:27] #7509 closed

[2019-03-15 17:31] #7453 closed

[2019-03-15 19:12] #7107 closed

[2019-03-16 03:58] mengxunQAQ opened #7575 "That add multidimensional arrays to the code reference syntax resulted in an error"
When I write this in code reference syntax of markdown：
[code]

I got an error like this:

The command "jekyll build" exited with 1.

[2019-03-16 14:31] TWiStErRob opened #7576 "Excerpt: Footnote definition <...> is unreferenced - ignoring"
## For Reproducing
1. Clone https://github.com/TWiStErRob/repros
2. `cd repros/jekyll/excerpt-footnotes`
2. `bundle install`
3. `bundle exec jekyll build`

## Expected:
[code]
## Actual:
[code]

## Details
The problem seems to be that the abstract doesn't contain a reference to the footnote, which is a reasonable occurrence. The `excerpt_separator` makes no difference, I'm just using an explicit o

[2019-03-16 17:25] ashmaroli commented on #7576
When attempting to reproduce the issue with latest `master` locally, the warning appears *once*. Subsequent builds do not register a warning because of disk-caching.

Deleting the `.jekyll-cache` or building with `--safe` resurfaces the issue.

[2019-03-16 17:29] TWiStErRob commented on #7576
Here's a full repro project with new findings (on latest stable):
[excerpt-footnotes.zip](https://github.com/jekyll/jekyll/files/2974135/excerpt-footnotes.zip)

[2019-03-16 17:32] ashmaroli commented on #7576
For security reasons, maintainers prefer cloning public repos over attachments.

[2019-03-16 17:40] TWiStErRob commented on #7576
Oh, didn't know, see linked commit above your comment.

[2019-03-16 19:48] redtux commented on #4900
I have just installed Ruby 2.6.1 via Snap (RVM being no option in this particular situation), but `gem install bundler jekyll` runs into troubles while trying to build [Eventmachine](https://github.com/eventmachine/eventmachine/) 1.2.7. Whatever the problem might be (this would be off topic here), it shows that at least for people using Ruby via Snap (published by the Ruby core team btw) a proper

[2019-03-17 09:18] changwh commented on #7565
Yes, I think the latest version of tzinfo will cause the problem like this:
Add `timezone: Asia/Shanghai` in `_config.yml`
Add `date:   2019-03-17 16:55:00 +0800` in the head part of .md file
Run `jekyll build --verbose` and it outputs:
[code]
It's so weird...

And then change the version of `tzinfo` to`1.2.0`，everything works...
Actually I'm not sure I'm right...:smile:

[2019-03-17 17:07] ashmaroli commented on #7565
@changwh You're absolutely correct regarding the observations with `tzinfo-2.0`. The observation yo've made is a known issue and has been mentioned in Jekyll's documentation.

Jekyll won't migrate to `tzinfo-2.0` as `activesupport` is still locked to the `v1.x` series.
Besides, the gain from migrating is lesser than handling the version conflicts.

[2019-03-17 22:26] #7474 closed

[2019-03-18 03:09] liquidvisual commented on #7080
This is absolutely insane, I just ran into this issue too with a recursive component. Liquid is the worst.

[2019-03-18 04:26] changwh commented on #7565
Thank you for your reply and clarification. I just found it in Jekyll's documentation, but it's a little hard for us starters to match up the appearance and the real cause. lol

[2019-03-18 06:27] ashmaroli commented on #7565
Agreed. Running `jekyll new` with future releases (for `v3.7.x` and above) will generate the `Gemfile` with `tzinfo` locked to `v1.x`

[2019-03-18 19:30] dmalan opened #7579 "feat: Should unknown tags perhaps be handled as warnings instead of errors?"
## Summary

Because Jekyll is often run in safe mode (as on GitHub Pages), it's not always possible to add support for custom tags, even if those custom tags could be rendered client-side, as via JavaScript-based "polyfills." It would be convenient to be support custom tags like

[code]

that could be rendered server-side in non-safe mode or, if need be, client-side via JavaScript, a la a JavaScri

[2019-03-18 21:39] #7576 closed

[2019-03-18 23:06] TWiStErRob commented on #7576
Awesome, thanks @mattr- for the fix. And thanks @ashmaroli for your patience and help in figuring out where this belongs.

[2019-03-19 02:42] ashmaroli commented on #7579
@dmalan Unfortunately, there's very little Jekyll can do to help in this case. The problem is not with Jekyll's `safe` mode per se.

The issue ticket you've linked makes a mention of "`rescue`-ing the exception".
While that is possible, the main issue is that **`Liquid` does not "process"** a document once the error has been raised. So we'll be forced to **output the raw source code of the documen

[2019-03-19 02:45] ashmaroli commented on #7579
I'm closing this since this feature is best requested at Liquid's repository.

[2019-03-19 02:45] #7579 closed

[2019-03-19 02:59] ashmaroli commented on #7579
@dmalan However, I do have a workaround for you:
Wrap your tag within Liquid's `raw` tags. Then, continue rendering the tag with JavaScript.
### Markdown source document:
[code]
### Generated HTML file:
[code]
### Final HTML at client-side (JS-enabled browser):
[code]

[2019-03-19 06:11] Rushan-Chen commented on #5663
[code]

I'm using Jekyll 3.7.4.

I write some vue code, and get the warning as below:

I've searched google but still not get the solution.

[2019-03-19 06:24] ashmaroli commented on #5663
@Rushan-Chen Liquid parses all instances of `{{`, `}}`, `{%`, `%}` as Liquid constructs. To tell Liquid not to parse such instances, wrap the code inside Liquid's `raw` blocks:
[code]
or if you have a block of such code, wrap the entire markup:
[code]

[2019-03-19 07:14] Rushan-Chen commented on #5663
@ashmaroli  Really thank you so much! 😃

[2019-03-20 19:22] lloyd094 opened #7581 "Liquid Exception: incompatible character encodings: Windows-1252 and UTF-8"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | Windows 10 Pro Version 10.0.17763 Build 17763 |
| `jekyll`         | 3.8.5     |
| `github-pages`   | No     |

---

## Expected Behaviour

Install is fresh in the CMD environment (not WSL). Upon `bundle exec jekyll serve` I assume things would work.

I have also gone and set `chcp 65001` an

[2019-03-22 00:43] liquidvisual commented on #6815
Well, this sucks

[2019-03-22 01:31] aoberoi opened #7582 "feat: Allow link tag to use liquid arguments as a tag value"
## Summary

The `link` tag is great. It let's me turn a path into a link, and make sure that link is valid at compile time. However, if I have the value of the path in a template variable, I can't do anything with the link tag to get the same awesomeness. I'd like to be able to do: `{$ link '{{ variable }}' $}`.

## Motivation

It's a pretty common operation to iterate over a collection to build n

[2019-03-22 03:02] ashmaroli commented on #7582
@aoberoi This has already been implemented on `master` and will be available as part of `jekyll-4.0`.
Though note that the syntax is `{% link {{ page.my_variable }} %}` (*no enclosing quotes*)

*If you'd like to test it, we've shipped a pre-release version.* [Feel free to take it for a test-drive](https://jekyllrb.com/news/2019/03/18/jekyll-4-0-0-pre-alpha1-released/).

[2019-03-22 03:02] #7582 closed

[2019-03-22 14:12] aoberoi commented on #7582
Thanks @ashmaroli, that's great news. The syntax is even better than I suggested, which I was shamelessly taking from the `asset` implementation 🙌.

Unfortunately, I'm building for GitHub Pages, so I won't be able to take advantage of the pre-apha1 release. But I'm so grateful that this project is continuing to evolve! Keep up the good work, and I'll look around here for a bit to see if there's an

[2019-03-22 14:16] ashmaroli commented on #7582
Thank you @aoberoi.
Pull requests from the community are always most welcome and appreciated :smiley:

[2019-03-22 14:53] #6038 closed

[2019-03-23 14:54] mattr- commented on #6939
Is there a repo or something that we can use to reproduce and verify the proposed fix?

[2019-03-23 15:14] avidyut1 commented on #7575
Hi @mengxunQAQ,
On investigating the issue, I found out that the issue is because of Liquid gem which tries to parse {{var}} and insert value of var into the template.
You can prevent liquid from processing the template by enclosing your code inside

{% raw %}
      code
{% endraw %}

This should fix your issue. Thanks

[2019-03-23 16:04] #7575 closed

[2019-03-24 01:42] dawaltconley commented on #7080
also just ran into this and I agree, it's totally unintuitive. variables aren't shared between different pages & layouts, so I figured they were all scoped to their particular files—not with includes, it seems.

as a workaround, you can store the variables used by an include in obscure variable names at the top of the include, and then reassign them at the end:
[code]

Which makes the include reus

[2019-03-24 11:39] aioobe commented on #7080
No, this does not work. There will only be one `global_scope_x` variable even when included recursively. To see why it won't work, consider how the end result looks:

[code]

[2019-03-24 19:29] dawaltconley commented on #7080
You're right. :( I think something like this would work for recursive includes.

[code]

That said, I hate this.

[2019-03-24 19:59] DirtyF commented on #7080
Please head over Liquid repository for questions about Liquid: https://github.com/Shopify/liquid/issues/911

[2019-03-25 02:28] javasunCN commented on #7535
https://desiredpersona.com/install-jekyll-on-macos/ @DirtyF  Thank you！！！

[2019-03-25 09:36] #7535 closed

[2019-03-25 13:28] ashmaroli commented on #7353
@mattr- I see that you've listed this as **`in progress`**.. Are you working on a PR towards resolving this..?

[2019-03-25 13:46] mattr- commented on #7353
There was a merged PR. It's in progress because it appears there's more work to do. Just because I moved it there doesn't mean that I'm doing any of the work.

[2019-03-25 13:49] ashmaroli commented on #7353
That was for our `{% link %}` tag.

Okay. I'll submit PRs towards resolving this then.

[2019-03-26 10:07] symant233 opened #7587 "Makefile:267: *** multiple target patterns."
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | windows10 1809|
| `jekyll`         | Latest     |
| ruby | 2.5.3p105|
| gem | `2.7.6` |

My `make` version:
[code]

When I just install jekyll using 'gem install jekyll'
[code]

[2019-03-26 10:12] ashmaroli commented on #7587
@symant233 Did you install Ruby via the RubyInstaller program? If yes:
  - Did you install the DevTools in the last stage of the installation and
  - What is the output from running `ridk version`?

[2019-03-26 17:19] fabriciomurta opened #7588 "index.md does not get processed by front matters defaults in _config.yml"
In a simple configuration scenario with just a bare of files:

- `index.md`
[code]

- `about.md`
[code]

- `_layout/default.html`
[code]

- `_config.yml`
[code]

I get a nice `/about.html` processed file. But the index stays as `index.md`, thus I get no md-formatted index (and I wanted to keep files free of front matter artifacts).

The `/` url shows the files, including `about.html` and `index.md

[2019-03-26 18:37] fabriciomurta commented on #7588
Now I see, they are only processed when they get the "---" in the files (I actually forgot the dashes in the other files, my bad).

It would be nice to be possible to make the files be processed (e.g.) by the file name's extension. Even the title variable could be inferred and transformed from the file name, and it would allow to keep a clean .md documentation file in the github repo. So, I guess

[2019-03-26 19:57] sorsaffari commented on #4714
can anyone among the contributors/developers provide a response to this legitimate feature request? Every now and then I come across an issue that is _exactly_ what I've been looking for, only to scroll down and find out that @jekyllbot has closed the issue for no apparent reason!

[2019-03-26 20:09] sorsaffari commented on #4714
Here is my use case:
We use Jekyll for our documentation.
Links need to be functional when docs are navigated both via Github and our documentation portal.
permalink on all pages is set to `:path/:basename`.
The directory and file names include a 2-digits prefix for better organisation.
In our website (generated HTML), links should not include the prefixes.
Therefore, while in markdown we have `[Q

[2019-03-26 21:23] DirtyF commented on #7588
See https://github.com/benbalter/jekyll-optional-front-matter

[2019-03-26 21:24] #7588 closed

[2019-03-27 07:41] symant233 commented on #7587
I have ruby reinstalled using rubyinstaller-devkit-2.5.3-1-x64.exe, but I'm wondering if I really install the devkit or not. Because I using 'gem install jekyll' then the MAKE error occurs again...

[code]

[2019-03-28 14:14] XaWin opened #7590 "Getting started code and CSS customization discrepancies"
The default page for CSS process is not in "assets/css" but in assets directly.

## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | ubuntu 18.04 |
| `jekyll`         | Latest     |
| `github-pages`   | No   |

---

## Expected Behaviour

When following the quick start (https://jekyllrb.com/docs/) and the customization (https://jekyllrb.com/d

[2019-03-28 14:57] fabsenet opened #7591 "Avoid mk_dir permission error in jekyll 4 pre alpha1 on azure build pipeline/docker"
I solved my issue but guessed someone may search for it or you may change something anyway for jekyll4, I dont know?!

---------

I upgraded my blog ([src](https://github.com/fabsenet/blog_de/tree/next)) to jekyll 4 pre alpha 1 and run into issues in the build pipeline of azure devops:

It uses the jekyll/builder docker image to build the actual site. Long story short, adding an empty directory ".

[2019-03-28 21:05] DirtyF commented on #7591
`.jekyll-cache` is supposed to be excluded by default.

[2019-03-29 03:14] cup commented on #7417
.

[2019-03-29 06:33] DirtyF commented on #7417
For now, people can switch to CommonMark by using the plugins.
https://jekyllrb.com/docs/configuration/markdown/#commonmark

We might merge both commonMark plugins and make CommonMark GFM available in Jekyll in a future release.

[2019-03-29 06:33] #7417 closed

[2019-03-29 06:54] #7353 closed

[2019-03-29 13:39] mattr- commented on #7591
If the cache doesn't exist, we'll try to create it, but rather than continuing without cache if we can't create the cache, we just kill the program. That's not ideal and should be fixed. Thanks for reporting this @fabsenet!

[2019-03-29 13:45] mattr- commented on #7590
After the third step, did you rebuild the site? By default, `jekyll serve` does not watch the file system for changes.

Does the problem go away after a site rebuild?

[2019-03-29 13:59] mattr- commented on #4714
I'd be happy to a see a contribution for something like this, but won't commit to adding it myself or having it be something the existing core team takes on. I've reopened it so it has more visibility, but will let jekyllbot close it as stale again if it ends up being that way.

[2019-03-29 18:09] ashmaroli commented on #7590
@XaWin The discrepancy was with our default theme `minima`. It has been updated (but not released yet) to follow other themes supported on GitHub Pages (i.e. `assets/main.css` is now `assets/css/style.css`)
I'll keep this ticket open till that change is shipped in minima 3.0.

@mattr- A slight correction in your comment above: `jekyll serve` **does watch** the file system by default. `jekyll build

[2019-03-29 18:46] johnkhughes commented on #4714
I had a go at implementing this back when I opened the issue a few years ago in #4752. Then @DirtyF had a go with #7271, but again it hasn't been merged. With my original version, the reason it wasn't accepted was because I wasn't able to write the relevant tests. My Ruby is rustier now than it was then, and I don't have the time to work on it now, but if anyone else can write the tests to go with

[2019-03-29 20:26] mattr- commented on #7590
This is how you can tell I've been around the project too long, since it didn't use to do that :rofl:

Thanks for the clarification.

[2019-03-29 23:46] sfsam commented on #7452
I think I'm hitting this too. I'm on macOS 10.12.6, Ruby 2.6.2, Jekyll 3.8.5.

I made a new post in my `src/_posts` folder (it's at the bottom):

![Screen Shot 2019-03-29 at 4 41 16 PM](https://user-images.githubusercontent.com/118104/55267766-9359d280-5241-11e9-8f0f-2d1c19fd476a.png)

I ran `jekyll build`, but no new 2019 folder is created in my `site` folder (2017 and 2018 appear):

![Screen Sho

[2019-03-30 00:29] pathawks commented on #7452
`2019-04-06` is a date in the future.

Have you explicitly turned on publishing future posts?

[2019-03-30 00:35] sfsam commented on #7452
@pathawks I just realized this and came back to delete my post when I saw your reply. My mistake.

[2019-03-30 02:17] ashmaroli commented on #7591
@fabsenet Will you be able to run the build with a `--trace` switch? The output from that will point *us* to the exact method that's causing the issue (will help in confirming our hunch)
Thanks.

[2019-03-30 10:25] fabsenet commented on #7591
Easy as I did this to get this errorstring in the first place :-)

[4_Run Jekyll (STAGING, next).txt](https://github.com/jekyll/jekyll/files/3025349/4_Run.Jekyll.STAGING.next.txt)

After investing like a day or two, [azure devops](https://dev.azure.com) is quite good. it saved this log for example!

[2019-03-30 11:27] ashmaroli commented on #7591
@fabsenet Thank you for the log. Now all this needs is determining why executing
 `mkdir_p /srv/jekyll/.jekyll-cache` has an issue but `mkdir_p /srv/jekyll/_site` (destination directory is also auto-generated likewise) does not raise an error once you manually added a `.jekyll-cache` folder..

[2019-03-31 20:37] xgodon opened #7594 "docs: Installation for WSL"
## Motivation

The Windows Subsystem for Linux does not mean it is an ubuntu, so that makes the documentation missleading.

## Suggestion

redirect to the appropriate installation method

[2019-04-01 01:47] ashmaroli commented on #7594
@xgodon We've outlined *two* sets of Installation instructions at https://jekyllrb.com/docs/installation/windows/. Has neither of those helped you install Ruby..??

[2019-04-01 06:41] XaWin commented on #7590
Hi all,

Ok, I understand. Sorry to have mix the issues between `jekyll` and `minima`

As we are using the `minima `theme, not updated version, we will continue to use the `assets/main.scss` approach. Once the new minima 3 is released, we will update it.

[2019-04-01 11:30] fabsenet commented on #7591
I think it is related to the environment jekyll is running in.

the blog-source directory and the _site directory are mapped to some volume, the cache folder is not:
https://github.com/fabsenet/blog_de/blob/4a78156250d0a7f92481a4d7a444a59942754613/azure-pipelines.yml#L30-L32

maybe jekyll has no permissions in the source folder? I dont know. It depend on who you would ask:

- jekyll is errorfree
-

[2019-04-01 11:58] ashmaroli commented on #7591
That would only be possible if `_site` exists beforehand.

Hmm.. perhaps, we can introduce a `skip-cache-dir` switch..
/cc @pathawks Any thoughts?

[2019-04-01 20:14] xgodon commented on #7594
i'm just saying that the second outlined set ( for WSL) is missleading because it is based on the fact that WSL = Ubuntu, which isn't true.
This wasn't a problem for me but i thought maybe it could be for someone.

[2019-04-02 11:22] Franck78 opened #7597 "variable not outputted where expected"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |            |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

## Current Behavior

## Code Sample

[2019-04-02 13:50] #7597 closed

[2019-04-03 21:03] ladislav37 commented on #7587
Hello. I had the same problem. It is beacuse of the space in path to your Ruby instalation. Reinstall it to path without spaces and will work..
Check this article:
https://stackoverflow.com/questions/2100448/multiple-target-patterns-makefile-error

[2019-04-04 09:28] DirtyF commented on #7400
https://jekyllrb.com/news/2019/03/18/jekyll-4-0-0-pre-alpha1-released/

[2019-04-04 09:28] #7400 closed

[2019-04-04 18:27] Franck78 opened #7602 "real embedded section of text"
Hello,

## Code Sample

[code]

The goal was to quickly move to Jekyll by doing a simple copy/past of the body section of a static page.
This does not work because there is no way to just say "raw text here".

Consequently, some analysis of the html inside the div is done and the result is not good.
(and there is no error according to w3c validator)

According to html specs, &lt;/p> is an optional

[2019-04-04 19:06] DirtyF commented on #7602
Didi you consider using includes for the HTML parts?

[2019-04-04 20:01] jekyllbot opened #7603 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll. There have been 642 commits since the last release, v3.8.5.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2019-04-04 20:14] Franck78 commented on #7602
@DirtyF, No !
This does not really make sense. I use includes for things that are reused anywhere, many times.
May work as a workaround , but it is 'how complicates things that are easily done'. Perl, bash (python?) have such basic functionality for example.

[2019-04-04 20:21] Ryuno-Ki commented on #7603
I absolute love this part of @jekyllbot :-)

[2019-04-04 20:45] ashmaroli commented on #7602
@Franck78 All of the Markdown/HTML in a markdown page is handled by the `kramdown` gem.
Moreover, it renders and text indented by more than 4 spaces as part of a code-block.

Regarding the closing `</p>` tag, you may want to approach https://github.com/gettalong/kramdown for any open or previous issue-tickets or pull requests

[2019-04-04 22:30] Franck78 commented on #7602
I understand it is a kramdown bug. But somewhere, it is Jekyll who decides to call markdown on a certain portion a certain file no ? If somewhere something says "no rendering", then Jekyll passes the text as it is to the <<content>>.
[code]

[2019-04-04 22:39] DirtyF commented on #7602
Feel free to develop a plugin in you want to modify parsing, but for most of people the current behavior works fine.

[2019-04-04 22:39] #7602 closed

[2019-04-05 01:01] Franck78 commented on #7602
Let me guess....

It needs 1 line to read the YAML and decide if the thing is published or not
(in publisher.rb)

[code]

and a plug-in is necessary to ask a similar question
that would just skip three lines ???
(in renderer.rb)
[code]

The worrying thing is the inadmissible action from DirtyF (won't fix). Without any valid argumentation.

of course it does. For every new project

And what for the

[2019-04-05 02:22] cup opened #7604 "Access page markdown via Liquid"
I would like to access the markdown of some pages. I tried:

[code]

and:

[code]

but in both cases I am just getting the HTML result. Is this possible?

[2019-04-05 09:38] DirtyF commented on #7602
As you may know there's an import plugin:
https://github.com/jekyll/jekyll-import

You also may use tools like Pandoc to convert your HTML to Jekyll.
Anyway I stand by _my_ decision to not change default rendering in Jekyll core.

[2019-04-05 10:41] symant233 commented on #7587
I had read this before but I did't find such line in the jekyll makefile.
Now I'm stop trying to install jekyll in windows...

[2019-04-05 10:41] #7587 closed

[2019-04-06 02:47] RoyiAvital commented on #3941
By the way, in the [Includes Guide](https://jekyllrb.com/docs/includes/) there is the following:

[code]

Is there a syntax for `if not` and `elseif`?

I want to verify a variable was defined in the include string and act differently on it.

[2019-04-06 03:17] ashmaroli commented on #3941
Yo can use `{% unless ... %}` and `{% elsif %}`
Refer: https://shopify.github.io/liquid/tags/control-flow/

P.S. *Please refrain from posting in old issue tickets.
The issue tracker on Jekyll's GitHub repo is for reporting bugs only.
For everything else, please seek support at https://talk.jekyllrb.com/*

[2019-04-06 18:23] SergeySypalo opened #7606 "GitHub Pages + Jekyll + Bootstrap + CDN question"
I'm new to GitHub Pages and Jekyll, and moving my blog https://sypalo.com to it.

I decided to use CDN for Twitter Bootstrap, so just copied example links from official website to the default.html template which is in the https://github.com/SergeySypalo/sergeysypalo/blob/master/_site/_layouts/default.html

But when my site is generated, Jekyll creates a local copy of css on the fly, so instead of

[2019-04-06 19:01] DirtyF commented on #7606
Hey, thanks for your interest in Jekyll, this repository is dedicated to bug reports in the core only.

Please head over to our community forum to ask for help on usage: https://talk.jekyllrb.com

[2019-04-06 19:01] #7606 closed

[2019-04-07 10:04] haakoo opened #7608 "docs: Small change in Jekyll on macOS - avoid root installs"
## Motivation

Avoid the event where the user install `jekyll` and `bundler` as `root` on macOS, before telling them it's best not to do this. The way the documentation is written on [Jekyll on macOS](https://jekyllrb.com/docs/installation/macos/) this might happen. If the user is following along and using the commands they'll end up installing this as root.

## Suggestion

Change the recommendati

[2019-04-07 12:42] grauschnabel opened #7611 "Alternative rendering process (generating latex - pdf)?"
Hi there,

I'd like to create a module to generate latex files.  There I need to do an alternative liquid rendering.

For example jekyll-scholar implements the cite tag.  `{% cite foobar %}` gets rendered to `<a class="citation" href="#foobar">(Foobar, 1997)</a>` - because of a well implemented liquid tag.

but for me I want to render `{% cite foobar %}` as `\textcite{foobar}` - so not as html but

[2019-04-07 12:46] ashmaroli commented on #7611
@grauschnabel The Issues platform for Jekyll is reserved for bug reports in Jekyll codebase. For every other query, please utilize our support forum at https://talk.jekyllrb.com/

Thanks.

[2019-04-07 12:46] #7611 closed

[2019-04-09 12:31] felix-voicehub commented on #7318
I just want to add that I had to update bundler using `gem install bundler` before this worked.

[2019-04-10 23:30] zorek9502 commented on #7463
I had a similar issue using rails, I did what DirtyF commented on 5 Jan and it' worked.

update Rubygems
gem update --system

update bundler
gem install bundler

update Gemfile.lock in your project
bundler update --bundler

[2019-04-11 02:39] liamrosenfeld commented on #7608
That is the main thing I am trying to implement in #7561 (along with fixing some directories that changed).

[2019-04-11 22:58] souldanger opened #7615 "feat: Sass-converter"
## Summary

## Motivation

## Guide-level explanation

## Reference-level explanation

## Drawbacks

## Unresolved Questions

[2019-04-12 03:38] #7615 closed

[2019-04-12 18:01] #7608 closed

[2019-04-13 11:18] MalayaliRobz commented on #3984
what worked for me was:
open /Library/Developer/CommandLineTools/Packages/

Run the package macOS_SDK_headers_for_macOS_10.14.pkg

[2019-04-14 12:47] justinplus opened #7616 "Should pass require path to sub-process when running `bundle install`"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | macOS Mojave 10.14.4  |
| `jekyll`         | 3.8.5     |
| `github-pages`   | not related     |

---

## Expected Behaviour
I use only brew to manage my Ruby runtimes. The version of Ruby in my mac is 2.6.2 and it has a build-in bundler whose version is **1.17.2**. Its lib locates in `/usr/l

[2019-04-14 12:52] ashmaroli commented on #7616
@justinplus A pull request would be most welcome. additionally, having tests for this change would be great!

[2019-04-14 19:13] pathawks commented on #7526
Jekyll does not know anything about images. This is out of scope for Jekyll core.

[2019-04-14 19:13] #7526 closed

[2019-04-17 20:05] Franck78 opened #7620 "feat: multi blog support"
## Summary

Decent multi blog support.

## Motivation

It is common to have several subject of interest that can be sorted in some blogs (or theme if you prefer)

## Guide-level explanation

Today, a google search on "multiple blog jekyll" returns nothing solid. The most logical one says

`site directory:
_config.yml
_posts
blog1/_posts
blog2/_posts
`
Cool. But not.
A for loop in site.posts return

[2019-04-17 23:39] kaysond opened #7621 "feat: Support "proper" relative paths so jekyll doesn't have to be at the server root"
tl;dr: #6360 and #6362

I'm hoping to re-open **civil** discussion around these issues, as the linked issue/PR have not had any updates or discussion since last year.

1. jekyll effectively requires the site to be served from the server root
2. there is no way to generate relative paths without something hacky
3. the filter name `relative_url` is confusing because it does't follow conventional "ht

[2019-04-18 01:30] loftwah commented on #6298
Is there anything more on this? I followed the instructions on the Jekyll website as I usually have and this is the first time I"ve encountered this error.

[2019-04-18 09:57] ashmaroli commented on #7621
@kaysond I agree that `relative_url` is not the best name for the provided functionality. But for the record, **The Jekyll Core Team does not intend to change the existing functionality.**

Regardless of the name, the functionality we're going for here is to simplify prepending `site.url` and `site.baseurl` string values to the given string / given object's `url` attribute.
(in essence generate a

[2019-04-18 18:10] SpaceboyRoss01 opened #7623 "HTML doesn't display correctly when mixed with Liquid in Markdown files"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |Arch Linux|
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

[code]
This code above to be converted to the HTML bellow.
[code]

## Current Behavior

Page renders as this:
![image](https://user-images.githubusercontent.com/19699320/56381669-65c1d

[2019-04-18 19:09] SpaceboyRoss01 commented on #7623
Weirdly enough, changing the file from `.md` to `.html` fixed it but I feel like this bug needs a better fix.

[2019-04-18 19:24] ashmaroli commented on #7623
It's not a bug.
Markdown converts any text indented by more than 4 spaces into a code-block.

[2019-04-18 19:24] #7623 closed

[2019-04-19 08:29] bert-bruggeman opened #7624 "Pages posts and collections"
Why are these still separated, woudnt it be more logical if all content is a collection?

[2019-04-19 09:00] ashmaroli commented on #7624
Posts have been a "collection" since Jekyll 3.0

Pages *may* end up being a collection in Jekyll 4.0. But personally, I'm not in favor of that idea.
To me, pages represent the standalone entities that do not belong together.
*Pages may exist anywhere in the source directory without constraints.* But under the hood, they all end up as part of the same family.

[2019-04-19 09:00] #7624 closed

[2019-04-20 00:56] DirtyF commented on #7526
@laukstein Every time somebody is asking for a feature in Jekyll's core because of the lack of plugins support in Github Pages, I would advise simply not hosting on Github Pages. Today there's plenty of choice: Netlify, Now, Surge, GitLab Pages of whatever free static hosting website service you like.

Also to handle images you have great free tiers on Cloudinary, Imgix, Netlify Large Media, etc.

[2019-04-20 14:30] coooliang commented on #3984
`sudo gem install -n /usr/local/bin jekyll bundler`

[2019-04-23 18:54] llgjermeni opened #7628 "Front matter error in scss file."
Hi, I just started working with Jekyll in local and I'm facing a problem. I followed the steep by steep tutorial from the official site and everything was fine until I added sass.  I have created a _sass/main.scss file where I have normal scss code and css/styles.scss where I added the front matter empty block. The tutorial say 'The empty front matter at the top tells Jekyll it needs to process th

[2019-04-23 19:33] willymcallister opened #7629 "include_relative fails if it is the first paragraph (used for the #excerpt)"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     MacOS 10.14.4       |
| `jekyll`         | 3.8.5     |
| `github-pages`   | 198     |

---

## Expected Behaviour

Build without error.

## Current Behavior

A markdown file has an include_relative as the first line of the file.
`{% include_relative eulers-cosine-d3.html %}`

The referen

[2019-04-23 19:57] sodevious commented on #7628
What's the error in the CLI?

[2019-04-23 21:08] hosnas commented on #5931
@ashmaroli I still have this error when I want to sort documents with pagination-v2 plugin.
cc: @sverrirs

[2019-04-24 06:10] llgjermeni commented on #7628
Doesn't compile the scss and the error is can't find the .css file from the layout.

[2019-04-24 06:19] ashmaroli commented on #7628
@llgjermeni Can you copy-paste the exact error message here? Its possible that your interpretation of the error be incorrect.
Additionally, ensure that any partials imported within `_sass/main.scss` actually exist.

[2019-04-24 06:30] llgjermeni commented on #7628
I followed the tutorial steep by steep from the Jekyll site. I think this is a syntax error sass doesn't recognize the front matter. I opened another Jekyll project https://github.com/llgjermeni/llazar-resume in local and shows the same error. The error is shown in the image above. The `_sass/main.scss` exist see the image for reference.

[2019-04-24 06:53] ashmaroli commented on #7628
@llgjermeni Its not a syntax error for Jekyll's sass converter. The image you posted is only showing error in the code editor not the terminal output from Jekyll.
Moreover, I wasn't able to reproduce any error by cloning the repo `https://github.com/llgjermeni/llazar-resume` and building it locally at my end.

Recommended steps:
1. Update bundle by running **`bundle update`**
2. Run with the curre

[2019-04-24 06:53] #7628 closed

[2019-04-24 07:06] ashmaroli commented on #5931
@hosnas The reason for this issue is because the paginate-v2-model has a custom sort function to sort posts (and other documents) instead of incorporating the builtin `Document#<=>`.

Unfortunately, the existing code in `paginate-v2` is a bit complex for me to provide a satisfactory workaround for you.

[2019-04-24 07:19] llgjermeni commented on #7628
This commands aren't resolving my error. You can see the error.

                    Invalid CSS after "@import 'main'": expected "{", was ";" on line 4
jekyll 3.8.5 | Error:  Invalid CSS after "@import 'main'": expected "{", was ";" on line 4

[2019-04-24 07:20] ashmaroli commented on #7629
@willymcallister Could you try our `3.8-stable` branch without your workaround and get back to us?
[code]
Ensure that you run `bundle install` to fetch the branch snapshot.

*Note: The above applies only to the local environment and not on GitHub Pages*

[2019-04-24 07:25] ashmaroli commented on #7628
See..? The actual error is `Invalid CSS after "@import 'main'"`, not the front matter block which is before the `@import` call.
Please post the contents of your `_sass/main.scss` or a link to the repository.

[2019-04-24 07:32] llgjermeni commented on #7628
The content of the `asstes/css/styles.scss`

[code]

The content of `_sass/main.scss`

[code]

[2019-04-24 07:43] ashmaroli commented on #7628
I don't see any Invalid CSS there..

[2019-04-24 18:06] cetinajero opened #7630 "`Invalid theme folder: _sass` when using Github Pages with remote_theme"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System | tested on macOS 10.14 and Ubuntu Linux thru `circleci/ruby:2.4.1`           |
| `jekyll`         | Latest (v3.8.5)|
| `github-pages`   | Latest (v198, just released yesterday) |
| `Jekyll-remote-theme`   | Latest (v0.3.1) |

---

## Expected Behaviour

A normal build without the warning: `In

[2019-04-25 00:14] cetinajero commented on #7630
Further reading...

It seems that the warning message was introduced in #5195 to offer useful debug information when needed but, in this case... it is throwing false positives when using [benbalter/jekyll-remote-theme](https://github.com/benbalter/jekyll-remote-theme) plugin.

[2019-04-25 13:10] #7337 closed

[2019-04-25 23:07] willymcallister commented on #7629
I added the suggested line to my Gemfile, but I get an error when I bundle install. The path to the branch gets appended to my website’s URL.?  Suggestions?

The path `/Users/willymcallister/KA/spinningnumbers/https:/github.com/jekyll/jekyll.git` does not
exist.

source "https://rubygems.org"
ruby RUBY_VERSION

# Hello! This is where you manage which Jekyll version is used to run.
# When you want

[2019-04-26 01:56] ashmaroli commented on #7629
@willymcallister My apologies! It should've been `git:` instead of `path:`...
(What was I thinking..??)

[code]

[2019-04-26 03:45] willymcallister commented on #7629
Still fails the same way using jekyll version 3.8-stable.
	If the first paragraph is an include_relative the site build fails.
	If I add a paragraph with just a non-blocking space,  `<p>&nbsp;</p>`, at the beginning the build works.

Below: Gemfile, followed by terminal output for bundle install, followed by error message

Gemfile
source "https://rubygems.org"
ruby RUBY_VERSION

# Hello! This is w

[2019-04-26 12:26] fjp opened #7631 "Algorithm pseudocode in kramdown"
Hi,
I am using kramdown and I am able to get latex formulas displayed correctly. Now I would like to add an algorithm using the latex package algorithm2e. This [answer](https://tex.stackexchange.com/a/452565/39188) on the tex.stackexchange shows that it works with markdown and pandoc.

I added the package in a [post](https://fjp.at/posts/localization/mcl/#monte-carlo-localization-algorithm) in the

[2019-04-26 15:41] CookieComputing opened #7632 "Various broken links in Jekyll Theme wiki"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |            |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

## Current Behavior

There are quite a few links in the Themes wiki section that are either broken, or redirects me to some sort of phishing/spam site, e.g. the Exemplar demo page, t

[2019-04-26 19:47] DirtyF commented on #7632
Now that we have topics on GitHub I feel we can unpublish this WIKI page.
https://github.com/topics/jekyll-themes

Also there are more and more dedicated services for Jekyll themes
https://jekyllthemes.io

[2019-04-26 19:52] DirtyF commented on #7632
No more broken links on https://github.com/jekyll/jekyll/wiki/Themes 😄

[2019-04-26 19:52] #7632 closed

[2019-04-27 00:49] DirtyF commented on #7631
👋 @fjp, I never used LateX with Jekyll. Please head over to [our forum ](https://talk.jekyllrb.com) to ask for help on Jekyll's usage, this repo is to report bugs within Jekyll core only. Thanks.

[2019-04-27 00:49] #7631 closed

[2019-04-27 19:35] dharmeshkakadia commented on #6701
I was initially seeing same behavior - correct script tag in the head but no refresh. It started working for me after I removed --incremental flag. It seems like  --incremental and --livereload doesn't work together. Posting here in case its useful for someone else.

[2019-04-27 20:19] Franck78 opened #7634 "data file not expanded"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |            |
| `jekyll`         | Latest     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

## Current Behavior

## Code Sample

[2019-04-27 20:20] #7634 closed

[2019-04-27 20:52] Franck78 opened #7635 "data file not being expanded"
Jekyll v4.0.0.pre.alpha1

the string "site.data.something" is not always recognized as a data source.

NOT:  {%- for compo in data -%}  _(data="site.data.composants-micro")_
YES:  {%- for compo in site.data.composants-micro -%}

[code]

[2019-04-28 02:03] DirtyF commented on #7635
You can not store Liquid variables in front matter by default, you can add a custom Liquid filter though: e.g. https://github.com/vividh/liquify/blob/master/liquify.rb

[2019-04-28 02:08] #7635 closed

[2019-04-28 06:15] ashmaroli commented on #7635
@Franck78 While you can't store an entire Liquid Variable in the front matter, you can instead store a reference to the data file indirectly:
[code]
Then reference the concerned data file using `site.data[key]`
[code]

[2019-04-28 12:09] Franck78 commented on #7635
Thank you ashmaroli, it is working as described.

The bug (if I may) is more a lack of knowledge. It is impossible for a 'newbee' to tell who do what.
The basic documentation about CSV/json/... data-sources should emphasize that

`for X in site.data.file ` is only a form of side.data"something here"

You see, I don't know how to say it. I feel a lot a variation can go after the _in_ . But is it Ru

[2019-04-28 12:20] ashmaroli commented on #7635
It is a feature of Liquid. Liquid contains a specialized object called `Liquid::Drop` that allows accessing attributes of an `object` via the *dot-notation* (`object.key`) and via `object[key]`.

This can be categorized as "Advanced Usage" and may have been left out of our documentation to avoid confusing new users.

[2019-04-28 12:47] hosnas opened #7636 "feat: automatically add every collection inside collections_dir"
## Summary

I have two feature request for collections when we are placing all of them inside collections_dir folder as defined in config file.

1- Automatically add them to jekyll. Meaning no need for list all of them inside config file.
2- The underscore at the beginning of each collection would be optional.

## Motivation

Suggestion 1 would be really helpful when we have hundreds of collection

[2019-04-29 01:10] #7443 closed

[2019-04-30 13:03] #7629 closed

[2019-05-01 10:06] ashmaroli commented on #7636
@hosnas Given that a site is configured with `collections_dir: my_collections`,
How would you propose handling the following paths:
[code]

[2019-05-01 11:01] Blackbird2Raven opened #7639 "Unable to execute "Jekyll serve" due to Invalid argument @ dir_s_mkdir"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |   Windows 10        |
| `jekyll`         | 3.7.2     |
| `github-pages`   | |

---

## Expected Behaviour

## Current Behavior

 I am unable to execute the command "jekyll serve" as it is throwing up an error as shown below. I think it's adding a special character to the file path(which is n

[2019-05-01 11:23] ashmaroli commented on #7639
@Blackbird2Raven Yes the issue is due to an incorrect filepath: `C:/website/dnifweb/_site/https:`
What are the contents of your config file and Gemfile?

[2019-05-01 12:53] Blackbird2Raven commented on #7639
@ashmaroli here you go:
- contents of`_config.yml`:
[code]

2. Contents of `Gemfile` are:
[code]

[2019-05-01 12:56] ashmaroli commented on #7639
@Blackbird2Raven The error is most likely from your incorrect `baseurl` setting. Try correcting as following:
[code]

[2019-05-01 13:47] Blackbird2Raven commented on #7639
@ashmaroli made those changes and tried `bundle exec jekyll serve` again....still the same error..

[2019-05-01 13:49] ashmaroli commented on #7639
Is there a public test repository that I can just clone and test..?

[2019-05-01 14:50] Blackbird2Raven commented on #7639
@ashmaroli Don't think so. I think this is the same issue that cropped up long time ago and was taken up for bug fix by Jekyll - you can find the details here: [Issue 1948](https://github.com/jekyll/jekyll/issues/1948)

[2019-05-01 15:01] ashmaroli commented on #7639
@Blackbird2Raven I won't be able to provide further assistance until I can reproduce this issue on my Windows system.

[2019-05-01 15:07] Blackbird2Raven commented on #7639
@ashmaroli is there a way where I can share the repo privately? or is there a workaround for the same?

[2019-05-01 15:35] ashmaroli commented on #7639
You can create a private repo at GitHub and temporarily add me as a collaborator.

[2019-05-01 16:26] Blackbird2Raven commented on #7639
@ashmaroli  hmm...surely will get back to you on this one buddy!

[2019-05-01 21:19] hosnas commented on #7636
@ashmaroli I tested some scenarios in current behavior of jekyll.
1-
[code]
result was `_site/2019/05/02/hello.html`

2-
[code]
result was `_site/hello.html`

3-
[code]
result was `_site/rollers/posts/2019-05-01-hello.html`

So we can say normally we expect the user to organize their documents properly to get proper results.

As for your example, I would argue that the organize of docs isn't prope

[2019-05-02 05:11] jklymak commented on #7535
I followed the steps above, but still could not get jekyll to build.

This was due to migrating to a new machine, and having cruft in `/usr/local/include` that was being read before the proper header files.  I was able to move `/usr/local/include` to `/usr/local/include_old` and get things to build fine.

https://github.com/rbenv/ruby-build/issues/1169#issuecomment-367137554

[2019-05-02 06:39] ashmaroli commented on #7636
@hosnas I think my argument wasn't clear enough. Let me clarify further..
*Note: I'm focusing on Jekyll's special collection: `posts`. These may or may not be applicable to other collections.*

***With posts, one can assign `categories` automatically by directory-nesting.***
Therefore, when I have a **`./movies/action/_posts/2019-05-02-avengers-endgame.md`** (within default `collections_dir`) or a

[2019-05-02 14:57] hosnas commented on #7636
I got your point @ashmaroli .

So as you said _posts is a special collection. I would say we can leave it as is, with the leading underscore. I think this way our problem is solved.

So again I tested a scenario in latest version of jekyll.

[code]
It would result to
[code]
The first and second result is clear. However I'm not really sure about the third one.

Now if we let posts have leading unde

[2019-05-02 16:17] ashmaroli commented on #7636
`my_collections/movies/2019-05-01-hello.md` resulting in `_site/my_collections/movies/2019-05-01-hello.html` is because the source file is being processed as a `Jekyll::Page` (which IMO, is a `bug`, but I'm not sure if we should "fix" it..)

/cc @mattr- : Would like to get your thoughts on this feature-request. Thanks.

[2019-05-04 01:10] #7553 closed

[2019-05-04 05:49] heshanfu opened #7645 "A Nice Collection Of Awesome Free Jekyll Themes"
A Nice Collection Of Awesome Free Jekyll Themes

https://jekyllthemes.dev/

[2019-05-04 10:11] #7458 closed

[2019-05-04 14:48] DirtyF commented on #7645
the URL is returning a 502 :/

[2019-05-05 13:23] heshanfu commented on #7645
Has resumed access

[2019-05-06 10:10] #7465 closed

[2019-05-06 18:24] #7555 closed

[2019-05-06 19:11] #7446 closed

[2019-05-06 19:51] Jc-L commented on #6209
The issue being still open, is there any suggestion to have the unprocessed content of a page (something like `page.rawcontent`) ?

[2019-05-06 23:30] meitar opened #7650 "feat: Include collections from subdirectories (same as for `_posts` built-in collection)"
## Summary

A custom collection (e.g., `events`) should behave like a built-in collection in that files contained in a directory bearing the collection's name (e.g., `_events`) should be processed by Jekyll regardless of whether it is the project root when `collections_dir` is not defined.

## Motivation

* It seems awkward to me that custom collections do not have feature parity with built-in col

[2019-05-07 01:32] jmporter opened #7651 "docs:"
## Motivation

Following the Quickstart guide step by step leads to the following error:

$ bundle exec jekyll serve
Could not locate Gemfile or .bundle/directory

## Suggestion

The quickstart doesn't install jekyll in the new site directory using the bundler. So either install jekyll with bundler or change the instructions to the command:

$ jekyll serve

[2019-05-08 11:04] #7651 closed

[2019-05-08 11:05] DirtyF commented on #7651
@jmporter Thanks for reporting, added the option to use bundler: https://github.com/jekyll/jekyll/blob/master/docs/_docs/step-by-step/01-setup.md#installation

[2019-05-09 08:08] thinkycx opened #7652 "jekyll build failed when _posts have pictures in it"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     ubuntu 16.04       |
| `jekyll`         | 3.8.5     |
| `github-pages`   | Latest     |

---

## Expected Behaviour

I want to use relative links to use my images.
[code]
And I want to use `![](./img/1.png)` in a.md to get the pictures.

## Current Behavior

when use jekyll build, it fai

[2019-05-09 09:28] DirtyF commented on #7652
Looks like Jekyll does not support binary files in _posts out of the box, you should be able to do so with @nhoizey plugin: https://nhoizey.github.io/jekyll-postfiles/

[2019-05-09 09:28] #7652 closed

[2019-05-10 16:06] raxod502 commented on #6295
I'm getting this problem because I have forked Jekyll, and despite the fact that my vendor directory is excluded in `_config.yml`, Guard is still choking on the symlinks in the _test_ directory of Jekyll's source code! Jekyll 3.8.5 on macOS 10.14.4.

[2019-05-10 23:10] #7469 closed

[2019-05-13 21:00] jekyllbot opened #7660 "Update dependency constraint to allow for rubocop v0.69.0"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.68.0`, and the latest version available is `0.69.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-05-14 11:57] thinkycx commented on #7652
Thank you. I have used the plugin however the plugin have many bugs.

Please consider this scene:
[code]
When you run `jekyll serve`, the picture 2.png will also be moved into the `_site` folder , which is obviously not acceptable.
**I think many people will come into the problem, how do you solve the problem? **

At last, I think if the pictures( or some other binary files) in _posts/ or _drafts/

[2019-05-15 13:11] #7444 closed

[2019-05-15 15:45] #7660 closed

[2019-05-15 16:24] thinkycx commented on #7652
For example, bugs:
1. when I use the postfiles plugin and build, the error log still exists. Do you know how to fix it ?
[code]

[2019-05-16 03:29] thinkycx opened #7664 "How to copy folders into _site?"
Hello everyone, I want to copy files into `_site/` , for examples: ` _drafts/images`  `_drafts/asserts` `_posts/images` `_posts/asserts`. So that I can use the pictures easily.  The reason you can find it here: https://github.com/jekyll/jekyll/issues/7652

Folders can be seen below
[code]

I write this simple test.rb script and put it in `_plugin` to do it:
[code]
I use `ruby test.rb` to test it,

[2019-05-16 03:30] thinkycx opened #7665 "How to disapper the jekyll error log? invalid byte sequence in UTF-8"
I have  put some pictures and other files in _posts/ and _drafts.
How to disapper the error log which the jekyll showed? such as :
[code]

[2019-05-16 05:34] thinkycx commented on #7664
Problem solved. The path is wrong.
I use  docker to run jekyll. However, I didn't use the path in the docker.

[2019-05-16 05:34] #7664 closed

[2019-05-16 07:01] thinkycx opened #7666 "How to get jekyll running command in plugins？"
How to get the jekyll running command( such as whether it is running with --drafts) in _plugin/test.rb?
I have to check whether it is running with --drafts and have somethings to do in _plugin/test.rb.

[code]

For example, _plugin/test.rb:
[code]

Is there anyone knows? Thank you.

[2019-05-16 09:23] RaymanNg opened #7667 "Jekyll uses inconsistent URL for pages and posts under the same folder"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |      Windows 10      |
| `jekyll`         | No   |
| `github-pages`   | Latest     |

---

## Expected Behaviour
For below structure
[code]
I expect Jekyll to use same string for the folder name "LeetCode" in the URL for index.md and the posts like this:
- "/LeetCode/" for the page
- "/LeetC

[2019-05-16 09:35] ashmaroli commented on #7667
@RaymanNg Pages and Posts differ a lot in behavior. So, expecting consistency between them is not recommended.
That said, this does look like a legit issue warranting an investigation..

[2019-05-16 10:38] ashmaroli commented on #7667
@RaymanNg Are you able to reproduce this issue locally on Windows?

[2019-05-16 11:20] RaymanNg commented on #7667
I am happy to see you send a PR for this issue so soon :thumbsup:

Close this issue now

[2019-05-16 11:25] ashmaroli commented on #7667
@RaymanNg We let a PR close an issue automatically when it is merged. Besides, since it is a breaking-change, it will not be backported to `v3.x`. So GitHub Pages will still have this issue for a *long* time..

Thank you reporting this.

[2019-05-16 15:56] ukkm opened #7669 "`unknown_tag': Liquid syntax error"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |  macOS 10.14.4  |
| Docker  | 18.09.2 |
| `jekyll`         | 3.8.5     |

---

## Expected Behaviour

Within of a Liquid section a loop is opened which is based on a YAML file. The loop variable has the name "ev" and is used to prepare text which will be shown on the web page (index.html)

#

[2019-05-16 16:03] ashmaroli commented on #7669
The following is incorrect usage:
[code]

[2019-05-16 16:03] #7669 closed

[2019-05-16 16:26] ukkm commented on #7669
Hi ashmaroli,

in case you are saying that the date pattern is incorrect, I don't agree. I need the date which is provided by the field "ev.termin" to compare it with a today date (see the first line). So both have to be comparable and that's true by using the pattern "%Y%m%d". Besides that Liquid has the problem wit the line marked with "124 -->"

[2019-05-16 16:29] DirtyF commented on #7666
🆘 Please head over to [our forum ](https://talk.jekyllrb.com) to ask for help on Jekyll's usage.
⚠️ This repository issues are dedicated to **documented bugs only**.

[2019-05-16 16:29] #7666 closed

[2019-05-16 16:37] ashmaroli commented on #7669
@ukkm When Liquid says `Liquid syntax error (line 124)`, the reality is that Liquid encountered error at Line 124 of the content provided to it. The content provided to it is your file's content **minus** the front matter block.
Therefore, in the following example, **Liquid will throw a syntax error at Line 2**:
[code]

---
`{%- ev.termin | date: "%d.%m.%Y" -%}` is incorrect usage. You should use

[2019-05-16 16:44] #7665 closed

[2019-05-16 16:44] DirtyF commented on #7665
This is currently not supported.

[2019-05-16 16:50] ukkm commented on #7669
@ashmaroli The Liquid section is a section of index.html without any front matter. The website I'm working on is alive since over a year. Now it gets an update where the said section belongs to.

[2019-05-16 16:56] ukkm commented on #7669
The line you say is incorrect usage ist that
        {%- assign ev_termin = ev.termin | date: "%Y%m%d" -%}
It's a normal assign statement.

[2019-05-16 17:06] ashmaroli commented on #7669
@ukkm Is the source open to public? If yes, please provide a link to the repository.
Please read my comment again. I'm pointing you to incorrect usage in
`{%- ev.termin | date: "%d.%m.%Y" -%}`

Search for **`{%- ev.termin | date: "%d.%m.%Y" -%}`** in your content. Replace with double-braces.

[2019-05-16 17:43] ukkm commented on #7669
@ashmaroli You are right - Thanks a lot!! I found the line which causes the issue. Indeed the double -braces were the reason. But the number of the line is 129 instead of 124 and the error messages of  Liquid are good for nothing! It's not the first time that I had to struggle with such Liquid issues.

[2019-05-16 17:46] Ryuno-Ki commented on #7669
It's line 129, because you have five lines of frontmatter. (two lines with `---` each + three defined by you).

[2019-05-16 17:47] ashmaroli commented on #7669
@ukkm Glad you sorted this out. Cheers!

[2019-05-17 19:11] #7468 closed

[2019-05-19 04:34] moritzschaefer commented on #7630
@cetinajero So that means this message does not reflect an error?

[2019-05-19 05:06] ashmaroli commented on #7630
@moritzschaefer No. It's just a *warning* that the theme you're using doesn't have `_sass` directory at the root of your current theme.
Warnings are in yellow..
Errors are in red..

[2019-05-19 15:32] ashmaroli commented on #7630
@DirtyF `Invalid theme folder: _sass` is not exactly a user-friendly warning. We could be a bit more verbose..

[2019-05-19 19:24] ellemenno commented on #7630
@ashmaroli Than you, I agree; the warning is confusing. It implies there is something that needs correcting.

I've just encountered this after upgrading to jekyll 3.8 (via github-pages 198), for a theme that does not have a `_sass` folder.

Why is this a warning? What consequence is there for not including a `_sass` folder in a theme?

[2019-05-20 00:07] imvieira opened #7675 "Why my post is getting HTTP 404?!"
1 - Created: `https://github.com/imvieira/wiki/docs/_posts/2019-05-17-fundamentos-praticos-a-computacao-quantica-bloch-sphere`
2 - Accessed: `https://imvieira.github.io/wiki/`
3 - Clicked on "Blog", then clicked on the Post name.
4 - HTTP 404.
![Screen Shot 2019-05-19 at 9 07 15 PM](https://user-images.githubusercontent.com/13357603/57990152-1812e100-7a7a-11e9-9a87-328407df9bce.png)

![Screen Shot

[2019-05-20 00:08] imvieira commented on #7675
[docs.zip](https://github.com/jekyll/jekyll/files/3195803/docs.zip)
following attach my website

[2019-05-20 08:02] DirtyF commented on #7675
👋 @imvieira,

This repository issues are dedicated to **documented bugs only**.
Please head over to [our forum ](https://talk.jekyllrb.com) to ask for help on Jekyll's usage.🆘
Also contact GitHub support if your problem is related to Github Pages. Thanks.

[2019-05-20 08:02] #7675 closed

[2019-05-20 16:38] cetinajero commented on #7630
Exactly @moritzschaefer, isn't something to worry about too much.

@ashmaroli, in my case **there is** a `_sass` directory at the root of my `remote_theme`, you can see it [here](https://github.com/cetinajero/jekyll-theme-marketing/tree/master/_sass).

My theory is that the warning is showing _before_ the [jekyll-remote-theme](https://github.blog/2017-11-29-use-any-theme-with-github-pages/) plugin

[2019-05-20 17:08] cetinajero commented on #7630
Not much really, you can use plain _CSS_ and all be good, but... it's better to write all your style using _SASS_ partials @ellemenno.

[2019-05-21 02:13] miklb commented on #7630
Errors are in red..

I consider myself an experienced user and I wouldn't have caught the color of the message meaning "warning". I'm not sure that's the most accessible way to convey the importance, or lack thereof.

What I do see is **invalid theme folder**
I wouldn't have an issue with it staying a warning, but maybe changing the message to something more inline with the issue. `Theme doesn't u

[2019-05-21 09:50] Jiraiyah opened #7676 "Documentation template as default instead of minima?"
Hi
I was wondering if there is a chance we would get two templates as default integration when we install jekyll?

The first would be minima to keep everything simple and let developers start from bare minimum if they need to.

But, for people like me who don't know anything about css and template generation, how about giving us a chance to just change the minima name in the config yaml file to so

[2019-05-21 13:26] DirtyF commented on #7676
Please use a documentation (gem-based) theme.
You can find some here: https://jekyllthemes.io/jekyll-documentation-themes

[2019-05-21 13:26] #7676 closed

[2019-05-21 15:10] #7486 closed

[2019-05-21 21:00] jekyllbot opened #7677 "Update dependency constraint to allow for rubocop v0.70.0"
Hey there! :wave:

I noticed that the constraint you have for rubocop doesn't allow for the latest version to be used.

The constraint I found was `~> 0.69.0`, and the latest version available is `0.70.0`.

Can you look into updating that constraint so our users can use the latest and greatest version? Thanks! :revolving_hearts:

[2019-05-23 07:59] GloomyGhost-MosquitoSeal commented on #7587
Try tp use WSL

[2019-05-23 09:10] #7491 closed

[2019-05-24 00:18] ashmaroli commented on #7630
@cetinajero Looks like you're right indeed. Good job with the investigation.

@miklb I agree with you as well. The logged message isn't entirely accurate, (and based on comments in this thread, the message can also be misleading in a certain situation.. :man_shrugging: )

[2019-05-24 00:25] cetinajero commented on #7630
Thanks! I really don't know how to solve it nor why the `remote_theme` is triggered _before_ and _after_ the fetch, but.. if you give me a North... I could pull together a PR for review.

[2019-05-24 00:32] ashmaroli commented on #7630
@cetinajero We won't be able to "fix" `jekyll-remote-theme` here.

Regarding the dubious log message from Jekyll, we can adapt from another method of the same class:
https://github.com/jekyll/jekyll/blob/b3770fd45d361c39a55e5079ac8fdecd14b08c14/lib/jekyll/theme.rb#L19-L23

[2019-05-24 00:48] cetinajero commented on #7630
Hmmm... I was thinking something more complex like checking if the entire root directory was empty... then skip the warning and wait for the second check, **but**... adapting the message seems fairly easy and doable.

Even with the new message... the warning can be misleading in certain situations and it is present in `3.8.x` and `4.0.0.pre.alpha1`... can we not only rephrase it but also get rid o

[2019-05-24 00:58] ashmaroli commented on #7630
That won't be necessary once `jekyll-remote-theme` has been patched as well..

Perhaps not in the same PR..

The warning was placed there as an aid for theme developers that their gem doesn't include a certain directory at the gem's root. The "complex" solution would be to log a warning / debug msg, only if the theme wishes to publish sass partials but hasn't been bundled into the gem.

[2019-05-24 01:31] cetinajero commented on #7630
When I said "get rid of the annoying message" I was only suggesting lower its level to `debug`.

Even with this solution... the Jekyll theme I'm developing ([jekyll-theme-marketing](https://github.com/cetinajero/jekyll-theme-marketing/tree/master/)) has sass partials that are bundled into the gem but the Jekyll's `Theme.rb` class can't see them because they are loaded thru the `jekyll-remote-theme

[2019-05-24 07:50] #7677 closed

[2019-05-24 23:04] jakecatron commented on #7628
@llgjermeni did you ever figure out how to resolve this issue? I'm running into the same problem

[2019-05-24 23:16] jakecatron commented on #3408
I'm having this issue as well and cannot find a solution anywhere. Does anyone know how to fix it?

[2019-05-24 23:17] jakecatron commented on #3408
<img width="652" alt="Screen Shot 2019-05-24 at 7 16 17 PM" src="https://user-images.githubusercontent.com/46659531/58360782-8f6cba00-7e58-11e9-9b30-caa19c1a1d21.png">

[2019-05-25 17:07] llgjermeni commented on #7628
@jakecatron I think the problem is that VS Code take the front matter as syntax error and the red line of error will be all the time. You just need to compile the sass so I deleted everything in the sass file with front matter and started from beginning and worked for me.

[2019-05-25 19:33] burtonator opened #7681 "feat: ability to stick images next to blog posts."
Jekyll allows you to upload images but I'd like a structure where I kept the images next to the blog post instead of polluting one main directory.

Right now I tried this structure:

![image](https://user-images.githubusercontent.com/45447/58373824-3ef16d00-7ee9-11e9-8a5a-09324c943496.png)

but get the following error:

![image](https://user-images.githubusercontent.com/45447/58373828-4749a800-7ee

[2019-05-26 11:12] DirtyF commented on #7681
There's a plugin for that https://nhoizey.github.io/jekyll-postfiles/

[2019-05-26 11:12] #7681 closed

[2019-05-27 01:20] amyspark opened #7682 "jekyll build --incremental is broken in 4 alpha"
## My Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Operating System |     MacOS High Sierra  10.13.6     |
| `jekyll`         |  4.0.0.pre.alpha1     |
| `github-pages`   | No     |

---

## Expected Behaviour

Running `jekyll build --incremental` in separate executions result in my site being updated.

## Current Behavior

`jekyll build --incremental` ignores

[2019-05-27 17:12] ashmaroli commented on #7682
Hello @amyspark
Are you certain that this is an issue with just the Jekyll 4.0 Alpha? Have you tried repeating with Jekyll 3.8.5 or Jekyll 3.7.4
Incremental Builds have always been an outlier feature. It doesn't work as expected with plugins (and at times themes). If I recall correctly, data files are not registered as "*incremental dependencies*" unlike layouts, includes, pages and documents.

Ne